<section class="splide homebanner" aria-label="Banner del HOME">
    <div class="splide__track">
          <ul class="splide__list">
            <!-- <li class="banner" style="background-image:url(https://picsum.photos/600/300)"
            onclick="window.open('https://placehold.co/600x600?text=LINK_EN_ESPAÑOL', '_blank')"
            data-en="window.open('https://placehold.co/600x600?text=ENGLISH_LINK', '_blank')"
            data-lang-attr="onclick"
            >
         <span data-en="English link">Link español</span>
          </li> -->
          <li class="splide__slide" style="background-image:url(app/img/banners/ConvocatoriaTaller_ESP.jpg)"
          data-en="background-image:url(app/img/banners/ConvocatoriaTaller_ENG.jpg)" data-lang-attr="style" onclick="window.open((currentLanguage=='es' ? 'https://ficloscabos.org/convocatoria-taller.html' : 'https://loscabosiff.org/convocatoria-taller.html'), '_blank')"></li>
          <li class="splide__slide" style="background-image:url(app/img/banners/convocatoria_esp.jpg)"
          data-en="background-image:url(app/img/banners/convocatoria_eng.jpg)" data-lang-attr="style" onclick="window.open((currentLanguage=='es' ? 'https://ficloscabos.org/convocatoria.html' : 'https://loscabosiff.org/convocatoria.html'), '_blank')"></li>
          <li class="splide__slide" style="background-image:url(app/img/banners/cartel_esp.jpg)"
          data-en="background-image:url(app/img/banners/cartel_eng.jpg)" data-lang-attr="style" onclick="window.open((currentLanguage=='es' ? 'https://ficloscabos.org/NoticiasInicial?i=cG9zdDo0MzU=&p=0&t=nos-vemos-del-4-al-8-de-diciembre-para-celebrar-el-festival-internacional-de-cine-de-los-cabos-encuentros-de-cine#es' : 'https://loscabosiff.org/NoticiasInicial?i=cG9zdDo0MzU=&p=0&t=nos-vemos-del-4-al-8-de-diciembre-para-celebrar-el-festival-internacional-de-cine-de-los-cabos-encuentros-de-cine#en'), '_blank')"></li>
            <!-- <li class="splide__slide" style="background-image:url(app/img/banners/cartel_esp.jpg);" data-lang-attr="style" data-en="background-image:url(app/img/banners/cartel_eng.jpg);" onclick="window.location.href = 'https://ficloscabos.org/NoticiasInicial?i=cG9zdDo0MzU=&p=0&t=nos-vemos-del-4-al-8-de-diciembre-para-celebrar-el-festival-internacional-de-cine-de-los-cabos-encuentros-de-cine#es'"></li> -->
            <li class="splide__slide" style="background-image:url(app/img/banners/LBII2024-octnov.jpg);" data-lang-attr="style" data-en="background-image:url(app/img/banners/LBII2024-octnov2.jpg);" onclick="window.location.href = 'labajainspiraitinerante.html'"></li>
            <!-- <li class="splide__slide" style="background-image:url(app/img/banners/eleco.jpg);" onclick="window.location.href='https://ficloscabos.org/NoticiasInicial?i=cG9zdDo0Mjc=&p=0&t=el-eco-de-tatiana-huezo-tiene-fecha-de-estreno#es'"></li> -->
            <li class="splide__slide" style="background-image:url(app/img/banners/guiadelocaciones.jpg);" data-lang-attr="style" data-en="background-image:url(app/img/banners/Locationguide.jpg);" onclick="window.open('https://issuu.com/adogmx/docs/locationguide_bcs_web', '_blank')"></li>
             <!-- <li class="splide__slide" style="background-image:url(app/img/banners/guiadelocaciones.jpg);" data-lang-attr="style" data-en="background-image:url(app/img/banners/Locationguide.jpg);" onclick="window.open( localStorage.getItem('microlang-lang')=='es' ? 'https://issuu.com/adogmx/docs/locationguide_bcs_web' : '_blank').focus();"></li>  -->
          </ul>
    </div>

<!-- autoplay -->
<div class="carousel_playpause">
    <button class="splide__toggle" type="button">
        <span class="splide__toggle__play"><i class="fa-solid fa-play"></i></span>
        <span class="splide__toggle__pause"><i class="fa-solid fa-pause"></i></span>
        <div class="splide__progress"><div class="splide__progress__bar"></div></div>
    </button>
</div>


  </section>



  <style>
    /* autoplay */
    .homebanner{
        position: relative;
        aspect-ratio: 32/17;
    }
    .carousel_playpause{
        position: absolute;
        top:6px;
        right:6px;
        z-index: 99;
    }
    .splide__progress{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
    }
    .splide__progress__bar {
        height: 100%;
        background: rgba(255,255,255,0.8);
    }
    .splide__toggle{
        position: relative;
        aspect-ratio: 1/1;
        width: 32px;
        height: 32px;
        border: none;
        background: rgba(200,200,200,0.3);
        color: var(--colMain);
    }
    .splide__toggle:hover{
        color: rgba(200,200,200,0.5);
        background: var(--colMain);
    }
    @media (max-width:600px){
        .carousel_playpause{transform: scale(0.7);}
    }
  </style>