
<nav class="topnavigation">
    <div class="topnavigation-menu">
        <div><a class="nav-comunicado" href="ComunicadoFestivalInternacionaldeCinedeLosCabos2023.pdf" data-en="PressReleaseLosCabosInternationalFilmFestival2023.pdf" data-lang-attr="href"><span data-en="PRESS RELEASE">COMUNICADO 2023</span></a></div>
        <div><a class="nav-lbii" href="labajainspiraitinerante.html">LA BAJA INSPIRA ITINERANTE</a></div>
        <div><a class="nav-locaciones" href="https://issuu.com/adogmx/docs/locationguide_bcs_web" data-en="LOCATION GUIDE" target="_blank">GUÍA DE LOCACIONES</a></div>
        <div><a href="ediciones.html" data-en="EDITIONS">EDICIONES</a></div>
        <div><a href="jurado.html" data-en="JURY">JURADO</a></div>
        <div><a href="loscabosmas.html">LOS CABOS+</a></div>
        <div><a href="celebridades.html" data-en="CELEBRITIES">CELEBRIDADES</a></div>
        <div><a href="industria.html"  data-en="INDUSTRY">INDUSTRIA</a></div>
        <div><a href="quienessomos.html"  data-en="ABOUT US">¿QUIÉNES SOMOS?</a></div>
        <div><a href="prensa.html" data-en="PRESS">PRENSA</a></div>
    </div>
    <div class="topnavigation-languages">
        <a class="nav-lang nav-lang-es" href="#es">ESPAÑOL</a>
        <a class="nav-lang nav-lang-en" href="#en">ENGLISH</a>
    </div>
</nav>





<nav class="navbar navbar-expand-lg navbar-dark mainnavigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="app/img/logo_header.svg" alt="FIC Los Cabos" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigationNav" aria-controls="mainNavigationNav" aria-expanded="false" aria-label="Ver navegación">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigationNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/"  data-en="DISCOVER">DESCUBRE</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="competencialoscabos.html">COMPETENCIA <br>LOS CABOS</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="labajainspira.html">LA BAJA<br>INSPIRA</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="fondofilmico.html" data-en="GABRIEL FIGUEROA<br>FILM FUND">FONDO FÍLMICO<br>GABRIEL FIGUEROA</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="meetmart.html">MEET-MART</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="paneles.html" data-en="PANELS">PANELES</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="noticias.html" data-en="NEWS">NOTICIAS</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="loscabos.html">LOS CABOS</a></li>
        </ul>
      </div>
    </div>
  </nav>