<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIC Los Cabos</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <link rel="stylesheet" href="app/css/ediciones.css">
    <meta name="description" content="Explora las ediciones anteriores del Festival Internacional de Cine de Los Cabos. Descubre la programación, los ganadores y los momentos destacados de cada año." />
    <meta name="keywords" content="FIC Los Cabos, Festival Internacional de Cine, ediciones anteriores, programación, ganadores, momentos destacados, cine mexicano, cine norteamericano, cine canadiense, industria cinematográfica" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div id="transitioning" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-color: white; transition: opacity 0.5s ease;"></div>

    <importer src="components/header.html"></importer>

      <!--content-->
	  <div class="container my-5">
        <h1 class="text-center">EL FESTIVAL</h1>
      </div>
<!--ediciones-->
    <div id="ediciones-app">

      <div class="container my-5">
        <h2 data-en="EDITIONS" class="text-center">EDICIONES</h2>
      </div>
      <div class="container my-5">

        <div class="row gx-1 gy-5">
          
          <div class="text-center h4 loadingeditions" v-if="items.length==0" data-en="Loading editions...">
            Cargando ediciones...
          </div>
          <template v-for="(item, index) in items">
            <!--BOTÓN-->
            <div class="col-6 col-sm-4 col-md-3">
              <div class="bg-white p-3 cursor-pointer" role="button" data-bs-toggle="modal" :data-bs-target="'#edicion-'+item.title">
                <img load="lazy" :src="item.featuredImage.node.sourceUrl" alt="Edición" width="800" height="400" class="img-fluid">
                <div class="text-center h6 mt-2"><strong>{{item.title}}</strong></div>
                <div role="button" class="ediciones-btn cursor-pointer text-center p-1" data-en="View more">Ver más</div>
              </div>
            </div>
            <!--MODAL-->
            <div :id="'edicion-'+item.title" class="modal fade" tabindex="-1" aria-hidden="true" :aria-labelledby="'edicion-'+item.title">
              <div class="modal-dialog" style="max-width: 960px !important;">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body container">
                    
                    <!--modal INTRO-->
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img :src="item.featuredImage?.node?.sourceUrl"  alt="Imagen de nota" width="800" height="400" class="img-fluid">
                      </div>
                      <div class="col">
                        <h2 class="text-bold" :data-en="item.title +' Edition | '+ item.hashtag">Edición {{item.title}} | {{item.hashtag}}</h2>
    
                        <h3 :data-en="item.enFecha">{{item.fecha}}</h3>
                        <div class="text-small" :data-en='item.enDescripcion' v-html="item.descripcion"></div>
                      </div>
                    </div>
                    <!--modal gallery-->
                    <div class="my-4">
                      <h3 class="innertitle" data-en="GALLERY">GALERÍA</h3>
                      
                      
                      <div class="splide loscabos-carousel" data-splide='{"perPage":3, "gap":"2px"}'>
                        <div class="splide__track">
                          <ul class="splide__list">
                            <template v-for="(itemG, indexG) in item.gallery">
                              <div class="splide__slide" :style="'width:'+newImgWidth(itemG.mediaDetails.width, itemG.mediaDetails.height)+'px;'">
                                <img :src="itemG.mediaItemUrl" class="img-fluid">
                              </div>
                          </template>
                          </ul>
                        </div>
                      </div>

                    </div>
                    <!--modal program-->
                    <div class="my-4" v-if="item.programacion">
                      <h3 class="innertitle" data-en="FILM PROGRAMMING">PROGRAMACIÓN</h3>
                      <div class="ed-contenttext" :data-en="item.enProgramacion" v-html="item.programacion"></div>
                    </div>
                    <!--modal tribute-->
                    <div class="my-4" v-if="item.homenajes">
                      <h3 class="innertitle" data-en="FILM TRIBUTES (Special Guests)">HOMENAJES (Invitados Especiales)</h3>
                      <div class="ed-contenttext" :data-en="item.enHomenajes" v-html="item.homenajes"></div>
                    </div>
                    <!--modal awards-->
                    <div class="my-4" v-if="item.premios">
                      <h3 class="innertitle" data-en="AWARDS">PREMIOS</h3>
                      <div class="ed-contenttext" :data-en="item.enPremios" v-html="item.premios"></div>
                    </div>
                    <!--modal ignite-->
                    <div class="my-4" v-if="item.ignite">
                      <h3 class="innertitle" >IGNITE SESSIONS</h3>
                      <div class="ed-contenttext" :data-en="item.enIgnite" v-html="item.ignite"></div>
                    </div>
                    <!--modal video-->
                    <div class="my-4" v-if="item.video">
                      <h3 class="innertitle" data-en="SO IT WAS">ASÍ FUE</h3>
                      <div  class="ed-contenttext">
                          <iframe :id="'ytplayer_'+item.title" width="100%" height="315" :data-en="item.enVideo+'?enablejsapi=1&version=3&playerapiid=ytplayer'" :src="item.video+'?enablejsapi=1&version=3&playerapiid=ytplayer'" title="Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      </div>
                    </div>
                    <!--modal downloads-->
                    <div class="my-4 row">
                      <div class="col-md-6" v-if="item.imageposter && item.imageposter?.sourceUrl">
                        <h3 class="innertitle" data-en="POSTER">CARTEL</h3>
                        <div class="ed-contenttext text-center">
                          <img :data-en="item.enImageposter?.sourceUrl" :src="item.imageposter?.sourceUrl"  class="img-fluid" style="width:200px;">
                        </div>
                        <div class="text-center my-1">
                          <a :href="thepath+'ediciones/posters/'+item.linkposter" target="_blank" class="ediciones-btn p-1 mx-auto" data-en="Download">Descargar</a>
                        </div>
                      </div>
                      <div class="col-md-6" v-if="item.imagecatalogo && item.imagecatalogo?.sourceUrl">
                        <h3 class="innertitle" data-en="CATALOGUE">CATÁLOGO</h3>
                        <div class="ed-contenttext text-center">
                          <img :data-en="item.enImagecatalogo?.sourceUrl" :src="item.imagecatalogo?.sourceUrl"  class="img-fluid" style="width:200px;">
                        </div>
                        <div class="text-center my-1">
                          <a :href="thepath+'ediciones/catalogos/'+item.linkcatalogo" target="_blank" class="ediciones-btn p-1 mx-auto" data-en="Download">Descargar</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </template>

        </div>
      </div>


    </div><!--/#ediciones-app-->
<hr>
<!--HOMENAJES E INVITADOS ESPECIALES-->
  <!-- ##########################-->
  <section class="container my-5 pt-5">
    <h2 class="text-center" data-en="CELEBRITIES">CELEBRIDADES</h2>
  </section>

  <section id="Celebridades" class="content-section">

    <div class="container mb-5">

      <!-- LINE 1-->
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2022/TenochHuerta.jpg" alt="Tenoch Huerta" class="rounded-circle">
          <p class="fw-bold">Tenoch Huerta</p>
          <p class="text-muted">Premio Sin Fronteras</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2022/KarlaSouza.jpg" alt="Karla Souza" class="rounded-circle">
          <p class="fw-bold">Karla Souza</p>
          <p class="text-muted">Reconocimiento Mujeres Fantásticas</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2021/NicolasCelis.jpg" alt="Nicolás Celis" class="rounded-circle">
          <p class="fw-bold">Nicolás Celis</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2021/AnnDowd.jpg" alt="Ann Dowd" class="rounded-circle">
          <p class="fw-bold">Ann Dowd</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">

        <div class="col">
          <img src="app/img/celebridades/2020/CarolinaCosta.jpg" alt="Carolina Costa" class="rounded-circle">
          <p class="fw-bold">Carolina Costa</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2020/OdessaYoung.jpg" alt="Odessa Young" class="rounded-circle">
          <p class="fw-bold">Odessa Young</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2020/DemianBichir.jpg" alt="Demián Bichir" class="rounded-circle">
          <p class="fw-bold">Demián Bichir</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2020/LaverneCox.jpg" alt="Laverne Cox" class="rounded-circle">
          <p class="fw-bold">Laverne Cox</p>
          <p class="text-muted"></p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2019/DanielaVega.jpg" alt="Daniela Vega" class="rounded-circle">
          <p class="fw-bold">Daniela Vega</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/2019/MariaSecco.jpg" alt="María Secco" class="rounded-circle">
          <p class="fw-bold">María Secco</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/AshleyConnor.jpg" alt="Ashley Connor" class="rounded-circle">
          <p class="fw-bold">Ashley Connor</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/AgnesGodard.jpg" alt="Agnès Godard" class="rounded-circle">
          <p class="fw-bold">Agnès Godard</p>
          <p class="text-muted"></p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">

        <div class="col">
          <img src="app/img/celebridades/2019/LorenzaMunoz.jpg" alt="Lorenza Muñoz" class="rounded-circle">
          <p class="fw-bold">Lorenza Muñoz</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/DavidRubin.jpg" alt="David Rubín" class="rounded-circle">
          <p class="fw-bold">David Rubín</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/TatianaHuezo.jpg" alt="Tatiana Huezo" class="rounded-circle">
          <p class="fw-bold">Tatiana Huezo</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/IraSachs.jpg" alt="Ira Sachs" class="rounded-circle">
          <p class="fw-bold">Ira Sachs</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/2019/RobertDeNiro.jpg" alt="Robert De Niro" class="rounded-circle">
          <p class="fw-bold">Robert De Niro</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/EizaGonzalez.jpg" alt="Eiza González" class="rounded-circle">
          <p class="fw-bold">Eiza González</p>
          <p class="text-muted">International Star Award</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2019/YalitzaAparicio.jpg" alt="Yalitza Aparicio" class="rounded-circle">
          <p class="fw-bold">Yalitza Aparicio</p>
          <p class="text-muted" data-en="Fantastic Woman Recognition">Reconocimiento Mujeres Fantásticas</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2018/MarthaHigareda.jpg" alt="Martha Higareda" class="rounded-circle">
          <p class="fw-bold">Martha Higareda</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2018/LauraHarrier.jpg" alt="Laura Harrier" class="rounded-circle">
          <p class="fw-bold">Laura Harrier</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2018/AdamDriver.jpg" alt="Adam Driver" class="rounded-circle">
          <p class="fw-bold">Adam Driver</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2018/TerryGilliam.jpg" alt="Terry Gilliam" class="rounded-circle">
          <p class="fw-bold">Terry Gilliam</p>
          <p class="text-muted">Tribute Exceptional Contribution to Cinema History</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2018/SpikeLee.jpg" alt="Spike Lee" class="rounded-circle">
          <p class="fw-bold">Spike Lee</p>
          <p class="text-muted">Tribute Exceptional Contribution to Cinema History</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2017/TessaIa.jpg" alt="Tessa Ia" class="rounded-circle">
          <p class="fw-bold">Tessa Ia</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/2017/CamilaSodi.jpg" alt="Camila Sodi" class="rounded-circle">
          <p class="fw-bold">Camila Sodi</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2017/LuisGerardoMendez.jpg" alt="Luis Gerardo Méndez" class="rounded-circle">
          <p class="fw-bold">Luis Gerardo Méndez</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2017/JenniferMorrison.jpg" alt="Jennifer Morrison" class="rounded-circle">
          <p class="fw-bold">Jennifer Morrison</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2017/NicoleKidman.jpg" alt="Nicole Kidman" class="rounded-circle">
          <p class="fw-bold">Nicole Kidman</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2017/PaulSchrader.jpg" alt="Paul Schrader" class="rounded-circle">
          <p class="fw-bold">Paul Schrader</p>
          <p class="text-muted">Tribute</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2016/JulieTaymor.jpg" alt="Julie Taymor" class="rounded-circle">
          <p class="fw-bold">Julie Taymor</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2016/CraigRobinson.jpg" alt="Craig Robinson" class="rounded-circle">
          <p class="fw-bold">Craig Robinson</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/2016/DennisQuaid.jpg" alt="Dennis Quaid" class="rounded-circle">
          <p class="fw-bold">Dennis Quaid</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/2016/JacobTremblay.jpg" alt="Jacob Tremblay" class="rounded-circle">
          <p class="fw-bold">Jacob Tremblay</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2016/MonicaBellucci.jpg" alt="Monica Bellucci" class="rounded-circle">
          <p class="fw-bold">Monica Bellucci</p>
          <p class="text-muted">Lifetime Achievement</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2016/RodrigoPrieto.jpg" alt="Rodrigo Prieto" class="rounded-circle">
          <p class="fw-bold">Rodrigo Prieto</p>
          <p class="text-muted">Tribute</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2016/OliverStone.jpg" alt="Oliver Stone" class="rounded-circle">
          <p class="fw-bold">Oliver Stone</p>
          <p class="text-muted">Tribute</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2015/EugenioDerbez.jpg" alt="Eugenio Derbez" class="rounded-circle">
          <p class="fw-bold">Eugenio Derbez</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/GuguMbatha.jpg" alt="Gugu Mbatha- Raw" class="rounded-circle">
          <p class="fw-bold">Gugu Mbatha- Raw</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/AliceEve.jpg" alt="Alice Eve" class="rounded-circle">
          <p class="fw-bold">Alice Eve</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/LynnCollins.jpg" alt="Lyn Collins" class="rounded-circle">
          <p class="fw-bold">Lyn Collins</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/CindyLauper.jpg" alt="Cyndi Lauper" class="rounded-circle">
          <p class="fw-bold">Cyndi Lauper</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/2015/IanMcShane.jpg" alt="Ian McShane" class="rounded-circle">
          <p class="fw-bold">Ian McShane</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/RodrigoGarcia.jpg" alt="Rodrigo García" class="rounded-circle">
          <p class="fw-bold">Rodrigo García</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/LiamNeeson.jpg" alt="Liam Neeson" class="rounded-circle">
          <p class="fw-bold">Liam Neeson</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/AlexanderSkarsgard.jpg" alt="Alexander Skarsgård" class="rounded-circle">
          <p class="fw-bold">Alexander Skarsgård</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/JaredLeto.jpg" alt="Jared Leto" class="rounded-circle">
          <p class="fw-bold">Jared Leto</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/EwanMcGregor.jpg" alt="Ewan McGregor" class="rounded-circle">
          <p class="fw-bold">Ewan McGregor</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2015/JeanMarkVallee.jpg" alt="Jean-Marc Vallée" class="rounded-circle">
          <p class="fw-bold">Jean-Marc Vallée</p>
          <p class="text-muted">Tribute</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2014/EmirKusturica.jpg" alt="Emir Kusturica" class="rounded-circle">
          <p class="fw-bold">Emir Kusturica</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2014/RosarioDawson.jpg" alt="Rosario Dawson" class="rounded-circle">
          <p class="fw-bold">Rosario Dawson</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2014/ReeseWitherspoon.jpg" alt="Reese Witherspoon" class="rounded-circle">
          <p class="fw-bold">Reese Witherspoon</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2014/XavierDolan.jpg" alt="Xavier Dolan" class="rounded-circle">
          <p class="fw-bold">Xavier Dolan</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2014/AtomEgoyan.jpg" alt="Atom Egoyan" class="rounded-circle">
          <p class="fw-bold">Atom Egoyan</p>
          <p class="text-muted">Tribute</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2014/GuillermoArriaga.jpg" alt="Guillermo Arriaga" class="rounded-circle">
          <p class="fw-bold">Guillermo Arriaga</p>
          <p class="text-muted">Tribute</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2014/DenysArcand.jpg" alt="Denys Arcand" class="rounded-circle">
          <p class="fw-bold">Denys Arcand</p>
          <p class="text-muted">Tribute</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2013/AlfonsoHerrera.jpg" alt="Alfonso Herrera" class="rounded-circle">
          <p class="fw-bold">Alfonso Herrera</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/AnadelaReguera.jpg" alt="Ana de la Reguera" class="rounded-circle">
          <p class="fw-bold">Ana de la Reguera</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/JoseMariaYazpik.jpg" alt="José María Yazpik" class="rounded-circle">
          <p class="fw-bold">José María Yazpik</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/DanielJimenezCacho.jpg" alt="Daniel Jimenez Cacho" class="rounded-circle">
          <p class="fw-bold">Daniel Giménez Cacho</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/FrankGrillo.jpg" alt="Frank Grillo" class="rounded-circle">
          <p class="fw-bold">Frank Grillo</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/BrieLarson.jpg" alt="Brie Larson" class="rounded-circle">
          <p class="fw-bold">Brie Larson</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/PeterGreenawey.jpg" alt="Peter Greenaway" class="rounded-circle">
          <p class="fw-bold">Peter Greenaway</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/PhilippeFalardeau.jpg" alt="Philippe Falardeau" class="rounded-circle">
          <p class="fw-bold">Philippe Falardeau</p>
          <p class="text-muted">Spotlight</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2013/GaelGarciaBernal.jpg" alt="Gael García Bernal" class="rounded-circle">
          <p class="fw-bold">Gael García Bernal</p>
          <p class="text-muted">Tribute</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/2012/AdrianGrenier.jpg" alt="Adrian Grenier" class="rounded-circle">
          <p class="fw-bold">Adrian Grenier</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/OctaviaSpencer.jpg" alt="Octavia Spencer" class="rounded-circle">
          <p class="fw-bold">Octavia Spencer</p>
          <p class="text-muted"></p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/MichaelApted.jpg" alt="Michael Apted" class="rounded-circle">
          <p class="fw-bold">Michael Apted</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/NicolasEchevarria.jpg" alt="Nicolás Echevarría" class="rounded-circle">
          <p class="fw-bold">Nicolás Echevarría</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/MattDillon.jpg" alt="Matt Dillon" class="rounded-circle">
          <p class="fw-bold">Matt Dillon</p>
          <p class="text-muted">Outstanding Contribution to Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/VirginiaMadsen.jpg" alt="Virginia Madsen" class="rounded-circle">
          <p class="fw-bold">Virginia Madsen</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/DiegoLuna.jpg" alt="Diego Luna" class="rounded-circle">
          <p class="fw-bold">Diego Luna</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/MelissaLeo.jpg" alt="Melissa Leo" class="rounded-circle">
          <p class="fw-bold">Melissa Leo</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
        <div class="col">
          <img src="app/img/celebridades/2012/EdwardNorton.jpg" alt="Edward Norton" class="rounded-circle">
          <p class="fw-bold">Edward Norton</p>
          <p class="text-muted">Outstanding Work in Cinema</p>
        </div>
      </div>
      <hr>
      <div class="row justify-content-center text-center my-5">
        <div class="col">
          <img src="app/img/celebridades/JosephineDecker.jpg" alt="Josephine Decker" class="rounded-circle">
          <p class="fw-bold">Josephine Decker</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/EllenKuras.jpg" alt="Agnès Godard" class="rounded-circle">
          <p class="fw-bold">Ellen Kuras</p>
          <p class="text-muted"></p>
        </div>

        <div class="col">
          <img src="app/img/celebridades/NatalieMorales.jpg" alt="Craig Robinson" class="rounded-circle">
          <p class="fw-bold">Natalie Morales</p>
          <p class="text-muted"></p>
        </div>

      </div>
  </section>
  <!-- ##################################################################################################################################################################################################################-->





  <importer src="components/footer.html"></importer>
  <script src="app/resources.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@3.4.26/dist/vue.global.min.js"></script>
  <script src="app/js/ediciones.js"></script>

</body>
</html>

