<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIC Los Cabos</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="description" content="¡Descubre el Festival Internacional de Cine de Los Cabos! Un encuentro cinematográfico único en uno de los lugares más hermosos de México, que une a las cinematografías de México, Estados Unidos y Canadá. ¡Explora la programación, las actividades para profesionales y más!" />
    <meta name="keywords" content="FIC Los Cabos, Festival Internacional de Cine, Los Cabos, La Baja, Industria Cinematográfica, Películas, Jurado, Celebridades, Competencia, Ediciones, Gabriel Figueroa, Meet-Mart, Paneles, Noticias, Cultura Cinematográfica, Cine Mexicano, Cine Norteamericano, Cine Canadiense, Audiencias Reflexivas, Talentos de Baja California Sur, Vinculación Cinematográfica, Festival de Cine, FIC Los Cabos 2023, Festivales Culturales" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="app/css/lbii.css">

  </head>
  <body>
    <div id="transitioning" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-color: white; transition: opacity 0.5s ease;"></div>

    <importer src="components/header.html"></importer>

  <section class="text-center mb-5 w-100 thebannerfull" style="padding:0; margin:0;">
    <img src="app/img/lbii/banner.png" alt="La Baja Inspira Itinerante" class="w-100">

  </section>

  <section class="container mb-5">
    <p data-en="La Baja Inspira emerged at the Los Cabos International Film Festival as a section to showcase and promote the talent of filmmakers from the region and the diversity and richness of its landscapes." class="h4" style="text-align: justify;">La Baja Inspira surgió en el Festival Internacional de Cine de Los Cabos como una sección para visibilizar e impulsar el talento de cineastas de la región y la diversidad y riqueza de sus paisajes.</p>
    <p data-en="Later, in 2023, La Baja Inspira Itinerante was born, a film showcase that travels through part of the Baja California Peninsula with completely free screenings in public and school spaces." class="h4 p-5 my-5 text-white" style="background: #01a7ce; text-align: justify;">Más tarde, en el 2023, nace <strong>La Baja Inspira Itinerante</strong>, una muestra fílmica que recorre parte de la Península de Baja California mediante proyecciones completamente gratuitas en espacios públicos y  escolares.</p>
    <p data-en="This cycle, which will once again be presented by the Los Cabos International Film Festival (from June to November), aims to have the cinematography of Baja California Sur and Baja California understood as a map through which we can navigate their stories, characters, and settings, giving voice to new perspectives." class="h4"  style="text-align: justify;">Este ciclo, que nuevamente será presentado por el Festival Internacional de Cine de Los Cabos, (de junio a noviembre), busca que la cinematografía de Baja California Sur y Baja California pueda ser entendida como un mapa a través del cual podamos navegar sus historias, personajes y escenarios que den voz a nuevas perspectivas.</p>
  </section>


  



  <div id="lbii-app">
    
    <section class="container sectionprogram" style="margin-bottom: 60px; " v-cloak>

      <div class="lbii-title mx-auto" data-en="PROGRAMMING">CONOCE LA PROGRAMACIÓN</div>

      <!--features-->

      <div class="row mt-2 gx-1 gy-1" >
        <template v-for="(item, index) in films" >
          <div class="col-md-4 lbii-films"  v-if="item.type=='feature'">
            <div class="lbiibox-component" @click="openLink('film',item.id, item.film.name, $event)">
              <div class="lbiibox-title">{{item.film.name}}</div>
              <div class="lbiibox-image" :style="'background-image: url(app/img/lbii/films/'+item.gallery[0]+');'"></div>

                <div class="p-2 lbiibox-information">
                  <div class="h6" style="margin-bottom: 0;"><span data-en="Director">Dirección</span>: <strong>{{item.film.director}}</strong></div>
                  <div>{{item.film.country}} / {{item.film.year}}</div>
                  <div class="small" style="opacity:0.7;" >{{item.film.duration}} <span data-en="minutes">minutos</span>.</div>
                </div>

              <div class="px-2 pb-3">
                <div class="lbiibox-btn" style="margin-top: auto;" data-en="MORE INFORMATION">CONSULTAR FUNCIONES</div>
              </div>
            </div>
          </div>
        </template>

      </div>


      <div class="lbii-title mx-auto mt-5" data-en="SHORT FILM PROGRAM">PROGRAMA DE CORTOMETRAJES</div>
      <div class="text-center" style="opacity:0.7;">Duración total: 52 min (los cortos se exhibirán continuos en una sola exhibición).</div>
      <!--features-->

      <div class="row mt-2 gx-1 gy-1" >
        <template v-for="(item, index) in films" >
          <div class="col-md-4 lbii-films"  v-if="item.type=='short'">
            <div class="lbiibox-component" @click="openLink('film',item.id, item.film.name, $event)">
              <div class="lbiibox-title">{{item.film.name}}</div>
              <div class="lbiibox-image" :style="'background-image: url(app/img/lbii/films/'+item.gallery[0]+');'"></div>

                <div class="p-2 lbiibox-information">
                  <div class="h6" style="margin-bottom: 0;">Dirección: <strong>{{item.film.director}}</strong></div>
                  <div>{{item.film.country}} / {{item.film.year}}</div>
                  <div class="small" style="opacity:0.7;">{{item.film.duration}} minutos.</div>
                </div>

              <div class="px-2 pb-3">
                <div class="lbiibox-btn" style="margin-top: auto;" data-en="MORE INFORMATION">CONSULTAR FUNCIONES</div>
              </div>
            </div>
          </div>
        </template>

      </div>





      <div class="text-center p-5">
        <a href="docs/Programacion_LaBajaInspiraItinerante2024.pdf" target="_blank" class="lbiibox-btn downloadprogram" data-en="DOWNLOAD THE PROGRAMMING">DESCARGA LA PROGRAMACIÓN</a>
      </div>
    </section>



    

    <section class="container sectionvenues" v-cloak>
      <div class="lbii-title mx-auto">
        CONOCE LAS SEDES
      </div>
      <div class="row mt-5 g-1" >
        <div class="col-md-3 col-sm-4 mt-5" v-for="(item, index) in venues" :key="index" >
          <div class="lbiibox-component" @click="openLink('venue',item.id, item.name)">
            <div class="lbiibox-inner lbii-source" :style="'background-image: url(app/img/lbii/sedes/'+item.imageName+')'">
              <div class="lbiibox-icon"><img src="app/img/lbii/sedes/marker.svg"></div>
              <div class="p-1 pb-2">
                <div class="lbiibox-btn">
                  {{item.name}}
                 <div class="small mt-1" style="opacity: 1.7; color:#ff5235;">{{item.location}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>




    <section class="flogos w-100 my-5 p-5">
      <img src="app/img/lbii/logos/logos-gray.svg" alt="TENDENCIA"  class="img-fluid">
    </section>



    <!-- POP UPS -->



    <div class="lbii-pop" v-if="activeFilm || activeVenue" v-cloak>
      <!-- ACTIVE FILM -->
      <div class="lbiipop-inner lbii-pop-film" v-if="activeFilm">
          <!-- HEADER -->
          
          <div class="lbiipop-close" @click="closePop"><i class="fa fa-times"></i></div>
          <!--
            <div class="lbii-title" style="margin-top: -20px;">{{activeFilm.film.name}}</div>
          -->
          
          <!-- CONTENT WITH SCROLL-->
          <div class="container h-100 overflow-auto">
            
            
            
            <div class="row mt-5">
              <!-- GALLERY -->


              <div class="col-md-6">
                <div class="lbii-title-internal mb-1" style="margin-top: -20px;">{{activeFilm.film.name}}</div>
                <div class="lbiipop-image lbii-target" :style="'background-image: url(app/img/lbii/films/'+activeFilmPhoto+')'"></div>

                <div class="row justify-content-center align-items-center gap-1 mt-1">
                  <template v-for="(item, index) in activeFilm.gallery">
                    <div class="col" @click="activeFilmPhoto = item">
                      <div class="lbiipop-image-galleryitem" :class="activeFilmPhoto == item ? 'active':''" :style="'background-image: url(app/img/lbii/films/'+item+')'"></div>
                    </div>
                  </template>
                </div>
              </div>

              <!-- MOVIE INFORMATIONS -->

              <div class="col-md-6 lbiipop-infoboxes">
                <div class="lbiipop-infobox" v-if="activeFilm.film.country">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/country.png"></div>
                  <div class="lbiipop-info"><div><strong data-en="Country:">País:</strong> {{activeFilm.film.country}} </div></div>
                </div>
                <div class="lbiipop-infobox" v-if="activeFilm.film.year">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/year.png"></div>
                  <div class="lbiipop-info"><div><strong data-en="Year:">Año:</strong> {{activeFilm.film.year}} </div></div>
                </div>
                <div class="lbiipop-infobox" v-if="activeFilm.film.director">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/director.png"></div>
                  <div class="lbiipop-info"><div><strong data-en="Director:">Director:</strong> {{activeFilm.film.director}}</div></div>
                </div>
                <div class="lbiipop-infobox" v-if="activeFilm.film.script">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/script.png"></div>
                  <div class="lbiipop-info"><div><strong data-en="Script:">Guión:</strong> {{activeFilm.film.script}}</div></div>
                </div>
                <div class="lbiipop-infobox" v-if="activeFilm.film.photo">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/photo.png"></div>
                  <div class="lbiipop-info"><div><strong data-en="Photography:">Fotografía:</strong> {{activeFilm.film.photo}}</div></div>
                </div>
                <div class="lbiipop-infobox" v-if="activeFilm.film.duration">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/duration.png"></div>
                  <div class="lbiipop-info"><div><strong data-en="Duration">Duración:</strong> {{activeFilm.film.duration}} <span data-en="minutes">minutos</span></div></div>
                </div>
                <div class="lbiipop-infobox" v-if="activeFilm.film.trailer">
                  <div class="lbiipop-ico"><img src="app/img/lbii/ico/trailer.png"></div>
                  <div class="lbiipop-info"><div><strong>Trailer:</strong> <a class="lbii-vertrailer" target="_blank" :href="activeFilm.film.trailer" data-en="View trailer">Ver trailer</a></div></div>
                </div>
              </div>

            </div><!-- /.row-->



            <div class="row mt-5" >
              <div class="col-md-6" >
                <div style="top:20px; position: sticky;" class="mb-5">
                <div class="h3" style="color:#1fa58b;"><strong data-en="SYNOPSIS">SINOPSIS</strong></div>
                <p :data-en="activeFilm.film.synopsis_en">{{activeFilm.film.synopsis}}</p>



                   <!-- IF SHORT -->

                <div class="mt-5" v-if="activeFilm.type == 'short'">
                  <div style="background: #1fa58b; color:#fff; padding: 10px;">
                    <div class="text-center">
                      <div class="lbii-title mx-auto lbii-shorts-title" data-en="SHORT FILM PROGRAMMING">PROGRAMA DE CORTOMETRAJES</div>
                    </div>
                    <div class="row mt-3">
                      <template v-for="(item, index) in films" >

                        <div class="col-md-4 lbiibox-component cursor-pointer"  v-if="item.type=='short'"   @click="openLink('film',item.id, item.film.name, $event)">
                          <div class="lbiibox-image" style=" aspect-ratio: 16/9; background-size:cover;" :style="'background-image: url(app/img/lbii/films/'+item.gallery[0]+')'"></div>
                          <div class="small p-1 text-center">
                            {{item.film.name}}
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
                <!-- / IF SHORT-->


              </div>
               
              </div><!-- /sinopsis-->



              <div class="col-md-6">

                
                
                <!-- FUNCIONES -->
                <div class="lbii-screenbyvenue">
                  <div class="d-flex justify-content-between">
                    <div class="h3" style="color:#1fa58b;"> <strong style="text-transform: uppercase;" data-en="SHOWTIMES">CARTELERA</strong></div>
                    <div><div class="lbii-entradalibre" style="margin-left:auto;" data-en="FREE FEATURES">FUNCIONES GRATUITAS</div></div>
                  </div>
                  <!--MONTHS-->
                  <template v-for="(item, index) in getScreeningsByFilmId(activeFilm.id)">
                      <div class="my-4">
                        <div class="h4" style="color:#1fa58b;"> <strong style="text-transform: uppercase;" :data-en="item.month_en+' FEATURES'">FUNCIONES {{item.month_es}}</strong></div>
                        <!--FILMS-->
                        <template v-for="(film, indexF) in item.films">
                          <div class="mb-3">
                            <div class="h6 p-1 d-flex justify-content-between" style="color: #fff; background-color: #1fa58b;"><strong>{{film.venueName}}</strong> <span class="small">{{film.venueLocation}}</span></div>
                            <div class="text-capitalize"> <span :data-en="film.day_en + ' of '+ item.month_en">{{film.day_es}} de {{item.month_es}}</span> | {{film.time}} </div>
                            <div class="fw-bold">{{film.note}}</div>
                          </div>
                        </template>

                      </div>
                  </template>

                  <div class="my-4 h3 text-center" style="color:#aaa;" v-if="getScreeningsByFilmId(activeFilm.id).length==0">
                    <span data-en="SOON">PRÓXIMAMENTE</span>
                  </div>


                  
                </div> <!--lbii-screenbyvenue-->



              </div>
            </div>
            

         
            </div>



        </div>

        <div class="lbiipop-inner lbii-pop-venue" v-if="activeVenue">

            <div class="row h-100 g-0">
              <div class="col-md-6 lbii-innervenueimg" :style="'background-image: url(app/img/lbii/sedes/'+activeVenue.imageName+')'">
                
              </div>
              <div class="col-md-6 h-100">
                <div class="h-100 d-flex flex-column justify-content-between p-3">
                  <div class="d-flex w-100">
                    <div class="lbiipop-close" @click="closePop"><i class="fa fa-times"></i></div>
                  </div>
                  <div class="text-center h4 my-3 ">
                    <strong class="text-uppercase">{{activeVenue.name}}</strong>
                    <div class="fw-bold small my-2" style="color:#d93828;">{{activeVenue.location}}</div>
                  </div>

                  <div class="my-1 h5 lbii-venuedescription" v-html="activeVenue.description"></div>
                  <div class="mt-5 lbii-footer-venue">
                    <div class="lbiibox-iconfoot"><img src="app/img/lbii/sedes/marker.svg"></div>
                    <p>{{activeVenue.address}}</p>
                    <div class="text-center p-2">
                      <a class="lcii-gmapslink" target="_blank" :href="activeVenue.googleMapsLink">
                        Abrir en Google Maps</a>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          

        </div>

          

    </div>



  </div> <!-- / #lbii-app-->



  <importer src="components/footer.html"></importer>
  <script src="app/resources.js"></script>




<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@3.4.26/dist/vue.global.min.js"></script>

<script src="app/js/lbii.js"></script>
<script>
  const { createApp, ref } = Vue

  createApp({
    setup() {





      const films = lbii_films
      const venues = sortVenuesByLocation(lbii_venues)
      const screenings = lbii_screenings

      const activeFilm = ref(null)
      const activeFilmPhoto = ref(null)
      const activeVenue = ref(null)


      const monthNames_es = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
      const monthNames_en = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      function getScreeningsByFilmId(filmId) {
          const filmScreenings = screenings
              .filter(screening => screening.filmId === filmId)
              .sort((a, b) => new Date(a.dateTime) - new Date(b.dateTime));

          const screeningsByMonth = {};

          filmScreenings.forEach(screening => {
              const date = new Date(screening.dateTime);
              const month = date.getMonth();
              const year = date.getFullYear();
              const monthKey = `${year}-${month}`;

              if (!screeningsByMonth[monthKey]) {
                  screeningsByMonth[monthKey] = {
                      month_es: monthNames_es[month],
                      month_en: monthNames_en[month],
                      films: []
                  };
              }

              const venue = venues.find(venue => venue.id === screening.venueId);
              
              const day_es = `${date.toLocaleDateString('es-ES', { weekday: 'long' })} ${date.getDate()}`;
              const day_en = `${date.toLocaleDateString('en-US', { weekday: 'long' })} ${date.getDate()}`;

              const hours = date.getHours().toString().padStart(2, '0');
              const minutes = date.getMinutes().toString().padStart(2, '0');
              const time = `${hours}:${minutes}`;

              screeningsByMonth[monthKey].films.push({
                  note: screening.note,
                  filmId: screening.filmId,
                  venueId: screening.venueId,
                  venueName: venue.name,
                  venueLocation: venue.location,
                  dateTime: screening.dateTime,
                  time: time,
                  day_es,
                  day_en
              });
          });

          return Object.values(screeningsByMonth).map(monthEntry => ({
              month_es: monthEntry.month_es,
              month_en: monthEntry.month_en,
              films: monthEntry.films
          }));
      }




      const filterScreeningsByFilmAndMonth = (filmId, month) => {
        var filteredScreenings = screenings.filter(function(screening) {
          return screening.filmId === filmId && new Date(screening.dateTime).getMonth() + 1 === month;
        });
        var screeningsWithInfo = filteredScreenings.map(function(screening) {
            var film = films.find(function(film) {
                return film.id === screening.filmId;
            });
            var venue = venues.find(function(venue) {
                return venue.id === screening.venueId;
            });
            var screeningDate = new Date(screening.dateTime);
            var dayNameSpanish = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'][screeningDate.getDay()];
            var dayNameEnglish = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][screeningDate.getDay()];
            var day = screeningDate.getDay()
            var hours = screeningDate.getHours();
            var minutes = screeningDate.getMinutes();
            var time = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');

            return { ...screening, film: film, venue: venue, dayNameSpanish: dayNameSpanish, dayNameEnglish: dayNameEnglish,day, time: time };
        });

        return screeningsWithInfo;
    }


      const parseHash = (hash) => {
        const pattern = /^#(film|venue)-(\d+)\/(.+)$/;
        const match = hash.match(pattern);
        return match ? { type: match[1], id: match[2], name: match[3] } : null;
      }

      const handleHashChange = () => {
        const hashInfo = parseHash(window.location.hash);
        if (hashInfo) {
            const { type, id } = hashInfo;
            const targetArray = type === 'film' ? films : venues;
            
            const item = targetArray.find(item => item.id === parseInt(id));
            if (item) {
                type === 'film' ? (activeFilm.value = item, activeFilmPhoto.value = item.gallery[0], activeVenue.value = null) : (activeVenue.value = item, activeFilm.value = null);
              } else {
                console.log("Item not found in the array.");
            }
        } else {
            console.log("Invalid hash.");
        }
        setTimeout(()=>{
          makeSwitch()
        }, 250)
      }


      const slugify = (name) => {
        return name.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '');
      }



      const openLink = (type, id, name, $event) => {
        closePop()
        setTimeout(()=>{
          location.hash = type+'-'+id+'/'+slugify(name)
        }, 200)
      }
      const closePop = () => {
        //window.location.href.split('#')[0]
        history.pushState(null,null,'#');
        activeFilm.value = null
        activeVenue.value = null
      }



    function sortVenuesByLocation(venues) {
        return venues.sort((a, b) => {
            if (a.location < b.location) {
                return -1;
            }
            if (a.location > b.location) {
                return 1;
            }
            return 0;
        });
    }
      


      handleHashChange();
      //window.onhashchange = handleHashChange;
      window.addEventListener('hashchange', handleHashChange)

      return {
        films,
        venues,
        screenings,
        openLink: openLink,
        activeFilm: activeFilm,
        activeFilmPhoto: activeFilmPhoto,
        activeVenue: activeVenue,
        filterScreeningsByFilmAndMonth,
        closePop,
        getScreeningsByFilmId
      }
    }
  }).mount('#lbii-app')
</script>



</body>
</html>