<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;700&family=Barlow:wght@200;300;400;700;800&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="app/app.css?v=2.5" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- aos.css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--Newsletter-->
    <link rel="stylesheet" href="app/newsletter.css" />

    <link rel="stylesheet" href="app/Carousel.css" />


    <script type="text/javascript" src="app/newsletter.js"></script>
    <script type="text/javascript" src="app/include.js"></script>
   
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K0N0NFB1B5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-K0N0NFB1B5');
  </script>
  <script>
  $(document).ready(function () { 
    $("#myModal").modal("show")
  });
    </script>


    <title>FIC Los Cabos</title>


    <link rel="stylesheet" href="app/lbii.css">

     


  </head>
  <body>
<header id="divmenu" class="inclusion" data-file="header.html" ></header>

  <!-- ##################################################################################################################################################################################################################-->
  <!-- Fondo Fílmico -->
  <!-- ##########################-->

  <section class="text-center mb-5 w-100 thebannerfull" style="padding:0; margin:0;">
    <img src="images/labajainspira-itinerante/2024/banner.png" alt="La Baja Inspira Itinerante" class="w-100">

  </section>

  <section class="container mb-5">
    <p class="h4 text-center"><strong>La Baja Inspira</strong> surgió en el Festival Internacional de Cine de Los Cabos como una plataforma para visibilizar e impulsar el talento de cineastas de la región y la diversidad y riqueza de los paisajes de esta región, en la cual la audiencia pueda verse reflejada.</p>
    <div class="introcall">
      <div class="introcall-l">
        <p class="h4 text-center text-white"><strong>La Baja Inspira Itinerante</strong> es una muestra fílmica que abarca la región noroeste del país recorriendo parte de la península de Baja California, mediante proyecciones completamente gratuitas en espacios públicos y  escolares, que se llevarán a cabo de junio a noviembre del 2024.</p>
      </div>
      <!--

        <div class="introcall-r">
          <img src="images/labajainspira-itinerante/2024/coral.svg" alt="La Baja Inspira Itinerante" class="w-100">
        -->
      </div>
    </div>
    <p class="h4 text-center">Este proyecto busca que la cinematografía de la región de Baja California  pueda ser entendida como un mapa a través del cual podamos navegar sus historias, personajes y escenarios que den voz a nuevas perspectivas.</p>
  </section>


  



  <div id="lbii-app">
    
    <section class="container sectionprogram" style="margin-bottom: 60px; " v-cloak>

      <div class="lbii-title mx-auto">
        CONOCE LA PROGRAMACIÓN
      </div>

      <!--features-->

      <div class="row mt-5 gx-1 gy-1" >
        <template v-for="(item, index) in films" >
          <div class="col-md-3 lbii-films"  v-if="item.type=='feature'">
            <div class="lbiibox-component" @click="openLink('film',item.id, item.film.name, $event)">
              <div class="lbiibox-title">{{item.film.name}}</div>
              <div class="lbiibox-image" :style="'background-image: url(images/labajainspira-itinerante/2024/films/'+item.gallery[0]+');'"></div>

                <div class="p-2" style="">
                  <div class="h6" style="margin-bottom: 0;">Dirección:</div>
                  <div class=""><strong>{{item.film.director}}</strong></div>
                  <div class="d-flex justify-content-between" >
                    <div>{{item.film.year}}</div>
                    <div style="text-align: right;">{{item.film.country}}</div>
                  </div>
                </div>

              <div class="px-2 pb-3">
                <div class="lbiibox-btn" style="margin-top: auto;">CONSULTAR FUNCIONES</div>
              </div>
            </div>
          </div>
        </template>
        <!--PROGRAMA DE CORTOS-->
        <div class="col-md-3 lbii-films">
          <div class="lbiibox-component" @click="openLink('film', (Math.floor(Math.random() * 3) + 4), 'Programa de cortometrajes', $event)">
            <div class="lbiibox-title">PROGRAMA DE CORTOMETRAJES</div>
            <div class="lbiibox-image" :style="'background-image: url(images/labajainspira-itinerante/2024/films/cortos.jpg); '"></div>
            <div class="px-2 pb-3" style="margin-top: auto;">
              <div class="lbiibox-btn">CONSULTAR FUNCIONES</div>
            </div>
          </div>
        </div>
        <!--/programacortos-->
      </div>


      <!--shorts-->
      <!--
      <div class="row mt-5 gx-1 lbii-shortsarea"  style="background: #1fa58b; cursor:pointer;">
        <div>
          <div class="lbii-title mx-auto lbii-shorts-title">PROGRAMA DE CORTOMETRAJES</div>
        </div>
        <template v-for="(item, index) in films" >
          <div class="col-md-4 lbii-films lbii-films-shorts"  v-if="item.type=='short'"   @click="openLink('film',item.id, item.film.name, $event)">
            <div class="lbiibox-component">
              <div class="lbiibox-title">{{item.film.name}}</div>
              <div class="lbiibox-image" :style="'background-image: url(images/labajainspira-itinerante/2024/films/'+item.gallery[0]+')'"></div>
              <div class="p-3">
                <div class="py-3 text-center">
                  <div class="h6">Dirección:</div>
                  <div class="h5"><strong>{{item.film.director}}</strong></div>
                </div>
                <div class="d-flex justify-content-between h6">
                  <div>{{item.film.year}}</div>
                  <div style="text-align: right;">{{item.film.country}}</div>
                </div>
              </div>
              <div class="lbiibox-btn mx-auto my-2">CONSULTAR FUNCIONES</div>
            </div>
          </div>
        </template>
      </div>
      -->
      <div class="downloadprogram mt-1">
        <a href="#" target="_blank" class="lbiibox-btn">DESCARGA LA PROGRAMACIÓN</a>
      </div>
    </section>



    

    <section class="container sectionvenues" v-cloak>
      <div class="lbii-title mx-auto">
        CONOCE LAS SEDES
      </div>
      <div class="row mt-5" >
        <div class="col-md-4 col-sm-6 mt-5" v-for="(item, index) in venues" :key="index" >
          <div class="lbiibox-component" @click="openLink('venue',item.id, item.name)">
            <div class="lbiibox-inner lbii-source" :style="'background-image: url(images/labajainspira-itinerante/2024/sedes/'+item.imageName+')'">
              <div class="lbiibox-icon"><img src="images/labajainspira-itinerante/2024/sedes/marker.svg"></div>
              <div class="lbiibox-btn">{{item.name}}</div>
            </div>

          </div>
        </div>
      </div>
    </section>



    <section class="">
      <div class="lbii-flogos">
        <img src="images/labajainspira-itinerante/2024/logos/focine.svg" alt="CULTURA IMCINE FOCINE">
        <img src="images/labajainspira-itinerante/2024/logos/cps.svg" alt="CPS MEDIA">
        <img src="images/labajainspira-itinerante/2024/logos/tvmar.svg" alt="TVMAR">
        <img src="images/labajainspira-itinerante/2024/logos/radiantefm.svg" alt="RADIANTEFM">
        <img src="images/labajainspira-itinerante/2024/logos/tribuna.svg" alt="TRIBUNA">
        <img src="images/labajainspira-itinerante/2024/logos/tendencia.svg" alt="TENDENCIA" >
      </div>
    </section>



    <!-- POP UPS -->



    <div class="lbii-pop" v-if="activeFilm || activeVenue" v-cloak>
      <!-- ACTIVE FILM -->
      <div class="lbiipop-inner lbii-pop-film" v-if="activeFilm">
          <!-- HEADER -->
          <div class="d-flex w-100">
            <div class="lbiipop-close" @click="closePop"><i class="fa fa-times"></i></div>
          </div>
          <div class="lbii-title" style="margin-top: -20px;">
            {{activeFilm.film.name}}
          </div>
          
          <!-- CONTENT WITH SCROLL-->
          <div class="container h-100 overflow-auto">
            
            
            
            <div class="row mt-5">
              <!-- GALLERY -->


              <div class="col-md-6">
                <div class="lbiipop-image lbii-target" :style="'background-image: url(images/labajainspira-itinerante/2024/films/'+activeFilmPhoto+')'"></div>

                <div class="row justify-content-center align-items-center gap-1 mt-1">
                  <template v-for="(item, index) in activeFilm.gallery">
                    <div class="col" @click="activeFilmPhoto = item">
                      <div class="lbiipop-image-galleryitem" :class="activeFilmPhoto == item ? 'active':''" :style="'background-image: url(images/labajainspira-itinerante/2024/films/'+item+')'"></div>
                    </div>
                  </template>
                </div>
              </div>

              <!-- MOVIE INFORMATIONS -->

              <div class="col-md-6 lbiipop-infoboxes">
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/country.png"></div>
                  <div class="lbiipop-info"><div><strong>País:</strong> {{activeFilm.film.country}} </div></div>
                </div>
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/year.png"></div>
                  <div class="lbiipop-info"><div><strong>Año:</strong> {{activeFilm.film.year}} </div></div>
                </div>
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/director.png"></div>
                  <div class="lbiipop-info"><div><strong>Director:</strong></div><div>{{activeFilm.film.director}}</div></div>
                </div>
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/script.png"></div>
                  <div class="lbiipop-info"><div><strong>Guión:</strong></div><div>{{activeFilm.film.script}}</div></div>
                </div>
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/photo.png"></div>
                  <div class="lbiipop-info"><div><strong>Fotografía:</strong></div><div>{{activeFilm.film.photo}}</div></div>
                </div>
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/duration.png"></div>
                  <div class="lbiipop-info"><div><strong>Duración:</strong> {{activeFilm.film.duration}} <span>minutos</span></div></div>
                </div>
                <div class="lbiipop-infobox">
                  <div class="lbiipop-ico"><img src="images/labajainspira-itinerante/2024/ico/trailer.png"></div>
                  <div class="lbiipop-info"><div><strong>Trailer:</strong> <a class="lbii-vertrailer" target="_blank" :href="activeFilm.film.trailer">Ver trailer</a></div></div>
                </div>
              </div>

            </div><!-- /.row-->



            <div class="row mt-5" >
              <div class="col-md-6" >
                <div style="top:20px; position: sticky;" class="mb-5">
                <div class="h3" style="color:#1fa58b;"><strong>SINOPSIS</strong></div>
                <p>{{activeFilm.film.synopsis}}</p>



                   <!-- IF SHORT -->

                <div class="mt-5" v-if="activeFilm.type == 'short'">
                  <div style="background: #1fa58b; color:#fff; padding: 10px;">
                    <div class="text-center">
                      <div class="lbii-title mx-auto lbii-shorts-title">PROGRAMA DE CORTOMETRAJES</div>
                      <div>3 CORTOMETRAJES EN UNA MISMA FUNCIÓN</div>
                    </div>
                    <div class="row mt-3">
                      <template v-for="(item, index) in films" >

                        <div class="col-md-4 lbiibox-component cursor-pointer"  v-if="item.type=='short'"   @click="openLink('film',item.id, item.film.name, $event)">
                          <div class="lbiibox-image" style=" aspect-ratio: 16/9; background-size:cover;" :style="'background-image: url(images/labajainspira-itinerante/2024/films/'+item.gallery[0]+')'"></div>
                          <div class="h6 p-1 text-center">
                            {{item.film.name}}
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
                <!-- / IF SHORT-->


              </div>
               
              </div><!-- /sinopsis-->



              <div class="col-md-6">

                
                
                <!-- FUNCIONES -->
                <div class="lbii-screenbyvenue">
                  <div class="h3 text-center" style="color:#1fa58b;"><strong>FUNCIONES</strong></div>
                    <template v-for="(item, index) in getScreeningsByFilmId(activeFilm.id)">
                      <div>
                        <div class="h5 p-1" style="color: #fff; background-color: #1fa58b; text-transform: uppercase;"><strong>{{item.venue.name}}</strong></div>
                        <div><div class="lbii-entradalibre" style="margin-left:auto;">FUNCIONES GRATUITAS</div></div>
                        <template v-for="(month, indexm) in item.screenings" :key="index">
                          <div>
                            <div class="d-flex w-100 justify-content-between">
                              <div class="h5 p-1" style="color:#1fa58b; text-transform: uppercase;"><strong>{{month.month_es}}</strong></div>
                              
                            </div>
                            <div>
                              <template v-for="(film, indexf) in month.films">
                                <div class="lbii-screeningitem mb-1">
                                  <div class="d-flex gap-1 flex-wrap justify-content-between align-items-center p-2">
                                    <div class="text-uppercase d-flex gap-1 align-items-center justify-content-center">
                                      <div class="" style="width: 6px;"><img src="images/labajainspira-itinerante/2024/ico/angle.png" class="w-100"></div>
                                      <strong>{{film.day_es}}</strong></div>
                                    <div class="">{{film.time}}</div>
                                  </div>
                                </div>
                                </div>
                              </template>
                            </div>
                          </div>  
                        </template>

                      </div>
                    </template>


                  
                </div> <!--lbii-screenbyvenue-->
                <!--
                <div class="" v-for="(screeningmonth, screeningindex) in currentscreeninglist" :key="screeningindex">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="h3" style="color:#1fa58b;"><strong>FUNCIONES {{screeningmonth.month}}</strong></div>
                    <div>
                      <div class=" lbii-entradalibre" v-if="filterScreeningsByFilmAndMonth(activeFilm.id, screeningmonth.month_num).length>0">FUNCIONES GRATUITAS</div>
                    </div>
                  </div>
                  
                  <div style="padding:20px; text-align: center; background: #f0f0f0;" v-if="filterScreeningsByFilmAndMonth(activeFilm.id, screeningmonth.month_num).length==0">
                    FECHAS POR ANUNCIARSE
                  </div>
                  
                  <div class="lbii-screenings">


                    <div v-for="(item, index) in filterScreeningsByFilmAndMonth(activeFilm.id, screeningmonth.month_num)" :key="index" class="lbii-screeningitem">
                      <div class="d-flex gap-2 flex-wrap justify-content-between p-2">
                        <div class="d-flex gap-2 h5">

                          <strong>{{item.dayNameSpanish}} {{item.day}}</strong>
                        </div>
                        <div class="d-flex gap-2">
                          {{item.time}} hrs
                        </div>
                      </div>

                      <div class="d-flex gap-2 p-2" style="color: #fff; background-color: #1fa58b;">
                        <strong>{{item.venue.name}}</strong>
                      </div>
                  </div>

                </div>

                </div> 
              -->
              <!-- / funciones -->


              </div>
            </div>
            

            <!--
              <div class="mt-5">

                <div class="lbii-title">CONSULTA EL RESTO DE LA PROGRAMACIÓN</div>
                <div class="row justify-content-center">
                  <template v-for="(item, index) in films" :key="index" >
                    <div v-if="item.id!==activeFilm.id" class="col-md-4 col-sm-6 col-9">
                      <div class="lbiibox-component" @click="openLink('film',item.id, item.film.name, $event)">
                        <div class="lbiibox-inner" :style="'background-image: url(images/labajainspira-itinerante/2024/films/filmId_'+item.id+'.jpg)'">
                          <div class="lbiibox-title">{{item.film.name}}</div>
                          <div class="lbiibox-btn">CONSULTAR FUNCIONES</div>
                        </div>
                      </div>
                    </div>
                  </template>
                </div>

              </div>
                        
              -->

            </div>



        </div>

        <div class="lbiipop-inner lbii-pop-venue" v-if="activeVenue">

            <div class="row h-100 g-0">
              <div class="col-md-6 lbii-innervenueimg" :style="'background-image: url(images/labajainspira-itinerante/2024/sedes/'+activeVenue.imageName+')'">
                
              </div>
              <div class="col-md-6 h-100">
                <div class="h-100 d-flex flex-column justify-content-between p-3">
                  <div class="d-flex w-100">
                    <div class="lbiipop-close" @click="closePop"><i class="fa fa-times"></i></div>
                  </div>
                  <div class="text-center h4 my-3 text-uppercase"><strong>{{activeVenue.name}}</strong></div>
                  <div class="my-1 h5 lbii-venuedescription" v-html="activeVenue.description"></div>
                  <div class="mt-5 lbii-footer-venue">
                    <div class="lbiibox-iconfoot"><img src="images/labajainspira-itinerante/2024/sedes/marker.svg"></div>
                    <p>{{activeVenue.address}}</p>
                    <div class="text-center p-2">
                      <a class="lcii-gmapslink" target="_blank" :href="activeVenue.googleMapsLink">
                        <iconify-icon icon="ph:map-trifold-duotone" height="32"></iconify-icon>
                        Abrir en Google Maps</a>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          

        </div>

          

    </div>



  </div> <!-- / #lbii-app-->



  <!-- ##################################################################################################################################################################################################################-->


    <footer id="divfooter" class="inclusion" data-file="footer.html" ></footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
    

<!-- aos.js -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>


<script>
  AOS.init();
</script>

<!--/aos.js-->
<!--ediciones-->
<script src="https://news.loscabosiff.org/loscabos-components.js?v=2"></script>
<!--/ediciones-->

<script src="app/app.js?v=1.5"></script>




<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@3.4.26/dist/vue.global.min.js"></script>

<script src="app/lbii.js"></script>
<script>
  const { createApp, ref } = Vue

  createApp({
    setup() {

      const currentscreeninglist = lbii_currentscreeninglist



      const films = lbii_films
      const venues = lbii_venues
      const screenings = lbii_screenings

      const activeFilm = ref(null)
      const activeFilmPhoto = ref(null)
      const activeVenue = ref(null)


      function getScreeningsByFilmId(filmId) {
    var screenings = lbii_screenings.filter(screening => screening.filmId === filmId);
    var venues = {};

    screenings.forEach(screening => {
        var venue = lbii_venues.find(v => v.id === screening.venueId);
        var date = new Date(screening.dateTime);
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var month_es = date.toLocaleString('es-ES', { month: 'long' });
        var month_en = date.toLocaleString('en-US', { month: 'long' });
        var day_es = date.toLocaleString('es-ES', { weekday: 'long' });
        var day_en = date.toLocaleString('en-US', { weekday: 'long' });
        var time = date.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
        var day = date.getDate();
        var monthKey = `${month}-${year}`;

        if (!venues[screening.venueId]) {
            venues[screening.venueId] = {
                venueId: venue.id,
                venue: venue,
                screenings: {}
            };
        }

        if (!venues[screening.venueId].screenings[monthKey]) {
            venues[screening.venueId].screenings[monthKey] = {
                month: month,
                month_es: month_es,
                month_en: month_en,
                films: []
            };
        }

        venues[screening.venueId].screenings[monthKey].films.push({
            filmId: screening.filmId,
            venueId: screening.venueId,
            dateTime: screening.dateTime,
            time: time,
            day_es: `${day_es} ${day}`,
            day_en: `${day_en} ${day}`
        });
    });

    return Object.values(venues).map(venue => ({
        venueId: venue.venueId,
        venue: venue.venue,
        screenings: Object.values(venue.screenings)
    })).sort((a, b) => a.venue.name.localeCompare(b.venue.name));
}





      const filterScreeningsByFilmAndMonth = (filmId, month) => {
        var filteredScreenings = screenings.filter(function(screening) {
          return screening.filmId === filmId && new Date(screening.dateTime).getMonth() + 1 === month;
        });
        var screeningsWithInfo = filteredScreenings.map(function(screening) {
            var film = films.find(function(film) {
                return film.id === screening.filmId;
            });
            var venue = venues.find(function(venue) {
                return venue.id === screening.venueId;
            });
            var screeningDate = new Date(screening.dateTime);
            var dayNameSpanish = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'][screeningDate.getDay()];
            var dayNameEnglish = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][screeningDate.getDay()];
            var day = screeningDate.getDay()
            var hours = screeningDate.getHours();
            var minutes = screeningDate.getMinutes();
            var time = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');

            return { ...screening, film: film, venue: venue, dayNameSpanish: dayNameSpanish, dayNameEnglish: dayNameEnglish,day, time: time };
        });

        return screeningsWithInfo;
    }


      const parseHash = (hash) => {
        const pattern = /^#(film|venue)-(\d+)\/(.+)$/;
        const match = hash.match(pattern);
        return match ? { type: match[1], id: match[2], name: match[3] } : null;
      }

      const handleHashChange = () => {
        const hashInfo = parseHash(window.location.hash);
        if (hashInfo) {
            const { type, id } = hashInfo;
            const targetArray = type === 'film' ? films : venues;
            
            const item = targetArray.find(item => item.id === parseInt(id));
            if (item) {
                type === 'film' ? (activeFilm.value = item, activeFilmPhoto.value = item.gallery[0], activeVenue.value = null) : (activeVenue.value = item, activeFilm.value = null);
              } else {
                console.log("Item not found in the array.");
            }
        } else {
            console.log("Invalid hash.");
        }
      }


      const slugify = (name) => {
        return name.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '');
      }



      const openLink = (type, id, name, $event) => {
        closePop()
        setTimeout(()=>{
          location.hash = type+'-'+id+'/'+slugify(name)
        }, 200)
      }
      const closePop = () => {
        //window.location.href.split('#')[0]
        history.pushState(null,null,'#');
        activeFilm.value = null
        activeVenue.value = null
      }


      


      handleHashChange();
      //window.onhashchange = handleHashChange;
      window.addEventListener('hashchange', handleHashChange)

      return {
        films,
        venues,
        screenings,
        openLink: openLink,
        activeFilm: activeFilm,
        activeFilmPhoto: activeFilmPhoto,
        activeVenue: activeVenue,
        filterScreeningsByFilmAndMonth,
        closePop,
        currentscreeninglist,
        getScreeningsByFilmId
      }
    }
  }).mount('#lbii-app')
</script>



</body>
</html>