<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIC Los Cabos</title>
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <link rel="stylesheet" href="app/css/ediciones.css">
    <meta name="description" content="Bienvenido al espacio de prensa del Festival Internacional de Cine de Los Cabos. Encuentra comunicados recientes y material gráfico para tus espacios editoriales. Para más información, contacta a prensa@loscabosiff.org." />
    <meta name="keywords" content="FIC Los Cabos, Festival Internacional de Cine, prensa, comunicados de prensa, material gráfico, medios de comunicación, espacio editorial, información de prensa, Los Cabos IFF" />
    
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div id="transitioning" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background-color: white; transition: opacity 0.5s ease;"></div>

    <importer src="components/header.html"></importer>

      <!--content-->


  <section  class="container my-5">
    <h2 data-en="PRESS" class="text-center">PRENSA</h2>
  </section>
<section id="Prensa">
    <div class="container mb-5">
     

      <p class="text-left h5" data-en="Welcome to the press space of Los Cabos International Film Festival! Here, you will find our most recent announcements and visual material to include in your publishing spaces.">
        Bienvenido al espacio de prensa del Festival Internacional de Cine de Los Cabos, aquí encontrarás nuestros comunicados más recientes y el material gráfico para incluir en tus espacios editoriales.</p>
      <p class="text-left h5" data-en="Reach us at:">Si requieres más información, por
        favor escribe a:</p>
      <p class="text-left h5" data-en="<a href='mailto:press@loscabosiff.org'>press@loscabosiff.org</a>"><a
          href="mailto:prensa@loscabosiff.org">prensa@loscabosiff.org</a></p>

      <div class="text-center">
          <div class=" mt-5">
            <div>
              <a target="_blank" data-lang-attr="href" href="https://drive.google.com/drive/folders/1i4ki7tYIwrPvIeoFv9PH47g6An-ffBwW?usp=sharing" data-en="PressReleaseLosCabosInternationalFilmFestival2023.pdf" class="btn bn-lg pressreleasebtn">
                <span data-en="PRESS RELEASE">COMUNICADOS DE PRENSA</span>
              </a>
            </div>
        </div>

    </div>
    </div>
  </section>

  
  <div id="noticias-app" class="pt-5">

    <div class="container my-5">
      <h2 :data-en=" isPost ? isPost.titleEn : 'NEWS' " class="text-center">{{isPost ? isPost.title : 'NOTICIAS'}}</h2>
    </div>

    <div class="container my-5 pt-2">
      <div class="row  gx-5">
        
        <div class="text-center h4 loadingeditions" v-if="loading" data-en="Loading news...">
          Cargando...
        </div>

        <template v-else>

          <template v-if="isPost">
            <div class="container isPost">
              <div class="text-center mb-5">
                <img :src="isPost.featuredImage?.node?.sourceUrl"  alt="Imagen de nota" width="800" height="400" class="img-fluid">
              </div>
              <div class="h5" v-html="isPost.content" :data-en="isPost.descEn"></div>
            </div>

            <hr class="my-5">
            <div class="container my-2">
              <div class="row">
                <div class="col">
                  <div class="prevnext"  v-if="prevPost">
                    <div class="text-small" data-en="Previous article">Artículo anterior</div>
                    <div class="h5 fw-bold" :data-en="prevPost.titleEn">{{prevPost.title}}</div>
                    <a class="noticias-btn cursor-pointer text-center p-1 ml-auto" :data-notaid="prevPost.id" role="button" :href="createuri(prevPost.id, prevPost.title)" data-en="Keep reading">Seguir leyendo</a>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col text-right" >
                  <div  class="prevnext" v-if="nextPost">
                    <div class="text-small text-right" data-en="Next article">Artículo siguiente</div>
                    <div class="h5 fw-bold text-right" :data-en="nextPost.titleEn">{{nextPost.title}}</div>
                    <div class="text-right w-100 d-flex justify-content-end">
                      <a class="noticias-btn cursor-pointer text-center p-1 ml-auto" :data-notaid="nextPost.id" role="button" :href="createuri(nextPost.id, nextPost.title)" data-en="Keep reading">Seguir leyendo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </template>

          <template v-else v-for="(item, index) in items">
            <div class="col-md-6 my-4">
              <img loading="lazy" :src="item.featuredImage.node.sourceUrl" alt="Edición" width="800" height="400" class="img-fluid">
              <div class="fw-bold" :data-en="item.titleEn">{{item.title}}</div>
              <p class="" style="height:3em; overflow:hidden; text-overflow: ellipsis; font-size:1rem;" :data-en="createExcerpt(item.descEn)">{{createExcerpt(item.content)}}</p>
              <div class="text-right w-100 d-flex justify-content-end">
                <a class="noticias-btn cursor-pointer text-center p-1 ml-auto" :data-notaid="item.id" role="button" :href="createuri(item.id, item.title)" data-en="Keep reading">Seguir leyendo</a>
              </div>
            </div>
            <!-- end items loop -->
          </template>

        <!-- end !loading-->
        </template>

      </div>
    </div>


  </div><!--/#noticias-app-->



  
  <importer src="components/footer.html"></importer>
  <script src="app/resources.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@3.4.26/dist/vue.global.min.js"></script>
  <script src="app/js/noticias.js"></script>

  

</body>
</html>

