*{ margin: 0; padding: 0; }
:root{
  --colMain : #0f1f3e;
  --colSec  : #346b6d;
  --colGray: #797F86;
  --colCorpG : #22317F;
  --colB : #061E41;
  --colW: #f5f5f5;
  --bluemx:#8DB8E6;
  --lbii: #9EBCE7;
}
body{
  background: #fff;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}
html{overflow-x: hidden;}

iframe {width: 100%; }
#footer{position:absolute;width: 100%;height: auto;background: var(--colMain);}

h2{
  font-family: 'Barlow', sans-serif;
  text-align: left;
  color: var(--colMain);
  font-weight: 700;

}

h1, h3, h4, h5{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
  color: var(--colMain);

}


p{font-family: 'Barlow', sans-serif;
  text-align: left;
  color: var(--colMain);
  font-size: 14pt;
}

a{color: var(--colMain);}

ol li{font-size: 14pt}
ul li{font-size: 14pt}


.loginlogo{
  text-align: center;
  padding: 40px 0;
}
.loginlogo img{
  max-width: 180px;
}

.loginform{
  background: #fff;
  padding: 40px;

}
.loginform h2{
  padding-bottom: 10px;
  color: var(--colMain);
  border-bottom: 1px solid var(--colMain);
}
.loginform label{
  display: block;
  padding: 10px;
}



.btn-primary{background: #fff; border-color: var(--colMain);color:var(--colMain);}
.btn-primary:hover{background:var(--colSec); color: #fff; text-decoration: none;}
.btn-primary p {color:var(--colMain); text-decoration: none;}
.btn-primary p :hover {color: #fff; text-decoration: none;}
.btn-primary a :hover {color: #fff; text-decoration: none;}
.btn-primary a {text-decoration: none;}

.btn-secondary{background:var(--colSec);box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);}
.btn-secondary a{color: #fff;}
.btn-secondary a:hover{text-decoration: none;}
.btn{text-transform: uppercase;}

.btn-convocatoria{background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%); box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2); padding:3px; border-radius: 3px; text-decoration: none; 
  vertical-align: middle;
  user-select: none; margin-left: 10px;}
.btn-convocatoria p{color: #fff; padding-left: 10px;}
.btn-convocatoria:hover {border-color: var(--colMain);}
.btn-convocatoria:active{background: var(--colMain);}

.bannner-cartelera{background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%); box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2); padding:10px; border-radius: 5px; text-decoration: none; 
  vertical-align: middle;
  user-select: none; color: #fff; text-transform: uppercase;}

.btn-reglamento{background-image: linear-gradient(175deg, #df74ff 0, #b25aff 25%, #783cf2 50%, #1623de 75%, #0017cd 100%); box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);}
.btn-reglamento p{color: #fff;}
.btn-reglamento:hover {border-color: var(--colMain);}
.btn-reglamento:active{background: var(--colMain);}

.navbar-brand{
  /*padding-top: 70px;
  padding-bottom: 20px;*/
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: -10px;
  z-index: 1;

}
.navbar-brand img{
  max-height: 100px;
  

}
nav.navbar{
  font-size: 0.9rem;
}
.bg-fic{background: var(--colMain);}

.navbar-collapse{
  text-align: center;
 
}

/*########## ACCESO #####*/
.nav-link {cursor: pointer; }
.navbar-nav .nav-link{
  color:#fff;
  text-transform: uppercase;
  position: relative;
  display: block;
  font-size: 0.9em;
  
}
.fixed-top .navbar-nav .nav-link{ color:var(--colW); }
.navbar-nav .nav-link::before{
    content:"";
    width: 100%;
    position: absolute; left: 0; bottom: 0;
    border-bottom: 2px solid var(--colMain);
    transition: all .5s;
  }
.navbar-nav .nav-link.active{
  
  color:var(--colSec);
}
.navbar-nav .nav-link.active::before{
  border-bottom: 2px solid var(--colSec);
  transition: all .5s;
}


section{
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 180px;
}

h2{
  color:var(--colB);
  font-size: 2em;
  padding: 10px 0;
  margin-bottom: 10px;
    margin-top: 30px;
  text-transform: uppercase;
}
h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
  color: var(--colMain);
}

p{
  margin: 10px 0;
  color: var(--colMain);
}
li{
  margin: 10px 0;
  color: var(--colMain);
}

form small{
  display: block;
}
form label{
  font-weight: bold;
  font-size: 0.9em;
}
form .form-check{
  font-size: 0.8em;
}
form .form-check label{
  font-weight: normal;
}

 #contacto input, #contacto textarea, #contacto button{
  margin-top: 10px;
}



footer .footer-nav{
  background: var(--colMain);
  color: var(--colSec);
}
footer .footer-nav a{
  display: inline-block;
  color: var(--colW);
  font-size: 0.7em;
  margin: 10px;
}


.bluemx{
  background: var(--bluemx);
  font-size: 0.7em;
  line-height: 0.9em;
  padding: 10px;
  // border-top: 8px solid var(--colSec);
}
.bluemx a{
  color:#101E40;
}


.nav-tabs .nav-item.nav-link{
  color: var(--colMain);
}
.nav-tabs .nav-item.nav-link.active{
  background: var(--colMain);
  color:#fff;
}

#nav-datos{
  margin-top: 40px;
}
#nav-datos .form-control-plaintext{
  font-weight: bold;
}
#nav-datos button{
  margin-top: 20px;
  width: 200px;
}
#nav-datos small{display: block; opacity: 0.6;}

header {
  /*background-image: linear-gradient(#fff, #E6E6E6);*/
  position: relative;
}
header .grainger {
	background: #000;
	width: 180px;
	padding: 10px;
	text-align: right;
	top: 4px;
	left: 0;
  position: absolute;
}
header ul {
	list-style: none;
  text-align: center;
}
header ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
header ul li a {
  padding: 4px;
  font-size: 0.8rem;
	color: #000;
}
header ul li a:hover {
	text-decoration: none;
	color: var(--colMain);
}

#banner{margin-top: 0;}


strong.main{
  color:var(--colMain);
}

.hr{
  width: 80px;
  height: 8px;
  background: var(--colMain);
  margin: 40px auto;
}

#como{
  background-image: linear-gradient(#EE2A2E, #BE191D);
  color:#fff;
  overflow: hidden;
  font-size: 1.4rem;

}




.barra{margin-bottom: 200px;}
.barra img{width: 100%;}
.barra .text{
  background-image: linear-gradient(to right, #BE191D , #EE2A2E, #BE191D);
  color:#fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color:#fff;
  font-size: 1.8em;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 10px 20px rgba(0,0,0, 0.3);
  text-shadow: 0 4px 8px rgba(0,0,0, 0.2);
}





nav.navbar .fa-bars{
  color:#fff;
}
nav.navbar.fixed-top .fa-bars{
  color:var(--colW);
}
nav.navbar.fixed-top{
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: translateY(-100px);
  transition: all .5s;
}
nav.navbar.fixed-top.visible{
  transform: translateY(0);
  transition: all .5s;
}



.modal-header h2{
  padding: 20px;
  margin: 0 auto;
}
.modal-header .close{
  color:#000;
  opacity: 1;
  position: absolute;
  right: 5px;
  top: 0;
}
.modal a{
  color:#000;
}
.modal .links{
  font-size: 0.8em;
}
.modal .links a{
  margin: 10px;
}

.modal .card-body a.btn.btn-sm{
  font-size: 1em !important;
}
.modal .card-body a.btn .fa{
  font-size: 12px;
}



.nav-item.dropdown{
  border-bottom: 2px solid var(--colMain);
}

.tabledetail{
  font-size: 0.8em;
}


.vertical-align{
  align-items: center;	
}

.img-circle{
  border-radius: 50%;
}

.servicio-item{
  color: var(--colGray);
  font-size: 0.9em;
  min-width: 220px;
  max-width: 300px;
}
.servicio-item:hover{
  text-decoration: none;
  color: var(--colMain);
}
.servicio-item img {
  max-width: 100%;
}

.stateofmind{width: 100%;}

.segmento-item{
  color: var(--colGray);
  font-size: 0.9em;
  min-width: 220px;
  max-width: 160px;
}
.segmento-item:hover{
  text-decoration: none;
  color: var(--colMain);
}
.segmento-item img {
  max-width: 100%;
}

.giro-item{
  color: var(--colGray);
  font-size: 0.9em;
  min-width: 220px;
  max-width: 160px;
}

.giro-txt{
  color: var(--colW);
  background: var(--bluemx);
  font-size: 0.9em;
  min-width: 220px;
  max-width: 160px;
    padding: 15px;
    border-radius: 35px;
}
.giro-txt p{
  color: var(--colW);
    font-weight: 600;
    text-transform: uppercase;
}


.giro-item:hover{
  text-decoration: none;
  color: var(--colMain);
}
.giro-item img {
  max-width: 75%;
}
.txtimg p{
    font-weight: 600;
    text-transform: uppercase;
}
.tamano-item{
  color: var(--colGray);
  font-size: 0.9em;
  min-width: 220px;
  max-width: 160px;
}
.tamano-item:hover{
  text-decoration: none;
  color: var(--colMain);
}
.tamano-item img {
  max-width: 100%;
}





#blue-wallet ul{
  margin: 0 auto;
  color: var(--colGray);
}
#blue-wallet ul li{
  font-size: 1.1em;
  margin: 10px;
  list-style: none;
}
#blue-wallet ul li:before{
  content:"";
  width: 8px; height: 8px;
  background: #7CCDFA;
  border-radius: 50%;
  margin-right: 10px; 
  display: inline-block;
  vertical-align: middle;
}






.su-quote-style-default {
  position: relative;
  margin-bottom: 1.5em;
  padding: 0.5em 3em;
  text-align:center;
}
.su-quote-inner {
  min-height: 140px;
  padding-top: 20px;
}
.su-quote-inner p{
  padding: 0 10%;
}
.su-quote-cite{
  font-weight: bold;
}



.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23061E41' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23061E41' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}






.fa.fa-chevron-up{
  color: var(--colGray);
}
.fa.fa-chevron-up:hover{
  color: var(--colMain);
}

#clientes .jump{
  display: block;
  width: 100%;
}

.clientelogo{
  max-height: 60px;
}

.clientelogoimg{
  max-height: 100px;
}

#clientes img{
  margin: 10px 50px;
}
@media (max-width:480px){
  #clientes{
    text-align: center;
  }
  #clientes img{
    max-width: 50%;
  }
}



img, .pleca, header{
  animation: .6s ease-out 0s 1 initOther;
}

[data-l], p, a{
  animation: 1s ease-out 0s 1 initTxt;
}

@keyframes initTxt{
  0%{ opacity:0; }
  100%{ opacity:1; }
}
@keyframes initOther{
  0%{ opacity:0; }
  100%{ opacity:1; }
}



.blwalleticon {
	align-self: flex-start;
}
.blwalleticon img {
	margin-top: 30%;
}
@media (max-width: 767px) {
	.blwalleticon img {
		margin-top: 0;
	}
}





#suscribete{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#suscribete h3{
  margin-bottom: 20px;
}





@media only screen and (max-width:600px){

  header ul li {
    display: block;
    padding: 6px;
  }

  nav.navbar.fixed-top{
    transform: translateY(0);
    transition: all .5s;
  }
  #topheader{
    display: none;
  }
  #banner{margin-top: 73px;}
}








.country {
  font-size: 0.7rem !important;
  margin-top: 4px;
}
.fixed-top .country{ margin-top: 0; }
.country ul {
	position: relative;
	min-width: 80px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.country ul a {
	display: block;
  text-decoration: none;
  font-size: 1em;
}
.fixed-top .country ul a { font-size: 0.9em;}
.country ul li:first-child a {
	display: block;
	border-radius: 3px;
	color: #eee;
}
.fixed-top .country ul li:first-child a{ color: #797F86; }
.country ul li:first-child:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #D3D3D4;
	padding-bottom: 10px;
	position: absolute;
	left: 50%;
	margin-left: -6px;
	bottom: -12px;
}
.country ul li:first-child + li {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	display: none;
}
.country ul li:first-child + li a {
	border-radius: 3px;
	background: linear-gradient(#fff, #f5f5f5);
	animation-duration: 0.1s;
	color: #797F86;
}
.country ul li:first-child + li a:hover {
	color: #fff;
	background: #061E41;
}
.country ul:hover li {
	display: block !important;
	z-index: 9;
}
.country ul:hover li:after {
	display: none !important;
}
.country ul li:first-child + li:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	margin-left: -6px;
	top: -4px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #061E41;
}
.fixed-top .country {
	font-size: 0.8em;
}
.fixed-top .country ul {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}
.fixed-top .country ul a {
	padding: 0.5rem 1rem;
}
header li.separator {
	display: inline-block;
	min-height: 40px;
	margin-bottom: -14px;
	width: 1px;
	background: #D3D3D4;
	margin-left: 20px;
}
.fixed-top li.separator {
	display: inline-block;
	min-height: 20px;
	width: 1px;
	background: #D3D3D4;
	margin-left: 20px;
}
@media (max-width: 1200px) {

  .nav-item{
    font-size: 1.2rem;
  }
  .navbar-collapse{
    background: rgba(0,0,0,0.4);
    border-radius: 0 0 8px 8px;
  }
  .fixed-top .navbar-collapse{
    background: transparent;
  }

  .country{
    min-width: 140px;
  }
	li.separator {
		min-height: 1px !important;
		width: 100% !important;
		margin: 0 !important;
	}
	.country ul li:first-child + li {
		position: static;
		display: block;
		width: 50%;
	}
	.country ul li:after,
	.country ul li:before {
		display: none !important;
	}
	.country ul {
		display: flex;
		text-align: center;
	}
	.country ul li {
		flex-grow: 1;
		width: 50%;
		min-width: auto !important;
	}
	.country ul li:first-child + li a {
		background: transparent;
		color: #ffffff;
	}
	.country ul li:first-child a {
		color: #eee;
    font-weight: bold;
    animation-duration: 0.1s;
  }
  .fixed-top .country ul li:first-child + li a{
    color: #797F86;
  }
  .fixed-top .country ul li:first-child a{
    color: #061E41;
  }
}


@media (min-width:600px){
  .fixed-top:not(.visible){
    display: none;
    }
  }


  #contacto .btn-default{
    font-size: 1.1em;
  }


  .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }
  .btn-group .btn {
    width: 30%;
    min-width: 180px;
    flex-grow: 1;
    border-radius: 3px !important;
    margin: 2px 4px;
  }
  .btn-group .btn.active {
    /* background: #061D41 !important;*/
    
  }
  
  .joinbtn{
    color:#fff !important;
  }

  #newsletterform{
    display: flex;
  }
  #newsletterform input.form-control, #newsletterform button{
    display: block;
    width: 50%;
    flex-grow: 1;
    flex-basis: 50%;
  }
  .hidealert{
    display: none;
  }
 

  .resultsimg{
    max-height: 800px;
  }





#topheader{
  position: relative;
  z-index: 1;
}

/* 
#initheader {
  min-height: 100vh;
} */
/* carrusel al 1000%

.homeSlider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;
  }*/
.sliderfixed
{position: absolute;
  height:50%;
  top:0;
  left:0;
  right:0;
background: var(--colMain);;
}
.sliderfixed-xs
{position: absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  right:0;
background: var(--colMain);
}

  .homeSlider {
    position: relative;
    left: 0;
    top: 50;
    right: 0;
    bottom: 0;
    height: 50%;
    z-index: 0;
    height: 500px;
  }
  .homeSlider-xs {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;
  }
  .homeSlider .slick-prev {left: 30px; z-index: 1;}
  .homeSlider .slick-next {right: 30px;}
  .homeSlider .slick-list,
  .homeSlider .slick-track,
  .homeSlider .slick-slide,
  .homeSlider .slick-slide > div,
  .homeSlider .slick-slide > div > div {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left !important;
  }
  .homeSlider .slick-list .container,
  .homeSlider .slick-track .container,
  .homeSlider .slick-slide .container,
  .homeSlider .slick-slide > div .container,
  .homeSlider .slick-slide > div > div .container {
    height: 100%;
  }
  .homeSlider .slick-list .container .row,
  .homeSlider .slick-track .container .row,
  .homeSlider .slick-slide .container .row,
  .homeSlider .slick-slide > div .container .row,
  .homeSlider .slick-slide > div > div .container .row {
    height: 100%;
    align-items: center;
  }
  .homeSlider .slick-list .container .row .image,
  .homeSlider .slick-track .container .row .image,
  .homeSlider .slick-slide .container .row .image,
  .homeSlider .slick-slide > div .container .row .image,
  .homeSlider .slick-slide > div > div .container .row .image {
    text-align: center;
  }
  .homeSlider .slick-list .container .row .image img,
  .homeSlider .slick-track .container .row .image img,
  .homeSlider .slick-slide .container .row .image img,
  .homeSlider .slick-slide > div .container .row .image img,
  .homeSlider .slick-slide > div > div .container .row .image img {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .homeSlider .slick-list .container .row .titulo,
  .homeSlider .slick-track .container .row .titulo,
  .homeSlider .slick-slide .container .row .titulo,
  .homeSlider .slick-slide > div .container .row .titulo,
  .homeSlider .slick-slide > div > div .container .row .titulo,
  .homeSlider .slick-list .container .row .subtitulo,
  .homeSlider .slick-track .container .row .subtitulo,
  .homeSlider .slick-slide .container .row .subtitulo,
  .homeSlider .slick-slide > div .container .row .subtitulo,
  .homeSlider .slick-slide > div > div .container .row .subtitulo {
    color: var(--colMain);
    font-weight: bold;
    
  }
  .homeSlider .slick-list .container .row .titulo,
  .homeSlider .slick-track .container .row .titulo,
  .homeSlider .slick-slide .container .row .titulo,
  .homeSlider .slick-slide > div .container .row .titulo,
  .homeSlider .slick-slide > div > div .container .row .titulo {
    font-size: 2.7rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }
  .homeSlider .slick-list .container .row .titulo2,
  .homeSlider .slick-track .container .row .titulo2,
  .homeSlider .slick-slide .container .row .titulo2,
  .homeSlider .slick-slide > div .container .row .titulo2,
  .homeSlider .slick-slide > div > div .container .row .titulo2 {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
      color: #fff;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .homeSlider .slick-list .container .row .titulo,
    .homeSlider .slick-track .container .row .titulo,
    .homeSlider .slick-slide .container .row .titulo,
    .homeSlider .slick-slide > div .container .row .titulo,
    .homeSlider .slick-slide > div > div .container .row .titulo {
      font-size: 1.6rem;
      line-height: 1.2;
    }
  }

  @media (max-width: 768px) {
    .homeSlider .slick-list .container .row .titulo2,
    .homeSlider .slick-track .container .row .titulo2,
    .homeSlider .slick-slide .container .row .titulo2,
    .homeSlider .slick-slide > div .container .row .titulo2,
    .homeSlider .slick-slide > div > div .container .row .titulo2 {
      font-size: 1.6rem;
      line-height: 1.2;
        color: #fff;
    }
  }

  .homeSlider .slick-list .container .row .subtitulo,
  .homeSlider .slick-track .container .row .subtitulo,
  .homeSlider .slick-slide .container .row .subtitulo,
  .homeSlider .slick-slide > div .container .row .subtitulo,
  .homeSlider .slick-slide > div > div .container .row .subtitulo {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    /*opacity: 0.6;*/
  }
  @media (max-width: 768px) {
    .homeSlider .slick-list .container .row .subtitulo,
    .homeSlider .slick-track .container .row .subtitulo,
    .homeSlider .slick-slide .container .row .subtitulo,
    .homeSlider .slick-slide > div .container .row .subtitulo,
    .homeSlider .slick-slide > div > div .container .row .subtitulo {
      font-size: 1.2rem;
    }
    .homeSlider .slick-slide > div > div .container .row .image img {
      width: 100%;
      max-width: 240px;
      margin: 0 auto;
    }
    .homeSlider .slick-slide > div > div img {
      width: 100%;
      max-width: 240px;
      margin: 0 auto;
    }
    .homeSlider .slick-list .container .row, .homeSlider .slick-track .container .row, .homeSlider .slick-slide .container .row, .homeSlider .slick-slide > div .container .row, .homeSlider .slick-slide > div > div .container .row{
      height: 80%;
      padding: 100px 40px 0;
    }
  }


.mainsliderslide{
  background-size: cover;
}
.mainsliderslide-logo{
  max-height: 80px;
}



.homeSlider:not(.slick-initialized) div {
	display: none;
}
.homeSlider:not(.slick-initialized) div:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.cookies{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--colMain);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  z-index: 1;
}
.cookies a{
  color: var(--colMain);
}
.cookies p{
  font-size: 0.9em;
  color: var(--colSec);
  margin: 10px;
}
.cookies .btn{
  margin: 20px auto;
}





#aviso .modal-body {
	padding: 40px;
	text-align: justify;
}
#aviso .modal-body p,
#aviso .modal-body ul {
	color: var(--colGray);
}
#aviso .modal-body ul {
	margin: 10px 30px;
}
#aviso .modal-body a {
	color: var(--colGray);
	text-decoration: underline;
}

.mainservicescontent:nth-child(even){
  box-shadow: 0 0 80px #e8e8e8;
}
.mainservicescontent:nth-child(odd){
  background: linear-gradient(to left, #fff, #EEEEEE, #fff);
}
.mainservicescontent{
  padding: 80px 20px;
}

.bggrey{
    background: #efefef;
    
}
/***********/
.aplicativo{
width: 73%;

}
.etapas{
    font-weight: 600;
    text-transform: uppercase;
}
.contact{
   color: #797F86; 
}
.contact:hover{
   text-decoration: none;
    color: #88B7E7;
}
.etapas {
  cursor: pointer;
}
.etapastxt{
  display: none;
}



/* MODIFICACION 17 feb */

.navbar-brand{
  min-width: 220px;
}

@media (max-width: 1340px) {
  .navbar-nav .nav-link {
    font-size: 0.7em !important;
  }
}


/* #################################### */
/* TOPBARLANG */
.topbarlang {
  display: flex;
background: var(--colMain);
 
  }
  .topbarlang ul {

  margin-bottom: 0;
  list-style: none;
  }
  .topbarlang ul li a {
  display: block;
  color: #0a1e3f;
  font-size: 0.8rem;
  text-transform: uppercase;
  }
  .topbarlang ul li a :hover{
    display: block;
    color: #ffcc00;
    font-size: 0.8rem;
    text-transform: uppercase;
    }

  .nav-link.changeLang{
    padding: 2px;
    font-size: 0.6rem;
}
.topbarlang ul li .changeLang{
    border: 2px solid #0a1e3f;
    margin: 0 2px;
}
.topbarlang ul li .changeLang.active{
    background: #0a1e3f;
   color: #fff;
}
.topbarlang ul li a{
    padding: 10px 6px;
}
 
.topbarlang a.nav-link.smooth-scroll.active {
  color: #8bb7e9;
}

  nav{background: #0a1e3f; border-bottom: 1px solid #fff;}
  .bg-fic{background: #0a1e3f;}
  .navbar.bg-fic .topbarlang ul {
  display: flex;

  text-align: center;
  
  }
  .navbar.bg-fic #mainNav .topbarlang ul li a {
  color: #fff;
  font-size: 1rem;
  padding: 4px;
  text-transform: uppercase;

  }
  
  .navbar.bg-fic #topNav .topbarlang {
  position: absolute;
  top: 0;
  right: 0;
  background: #0a1e3f;
  }
  
  @media only screen and (max-width: 600px) {
  .navbar.bg-fic .topbarlang {
  display: flex;
  position: static;
  }
  .navbar.bg-fic .topbarlang ul li a {
  
  font-size: 0.6rem;
  padding: 2px 4px;
  
  
  }
  }
  /* //// TOPBARLANG */
  /* #################################### */

.powered{
    width: 190px;
}
.bluecircle{
    width: 70px;
}


.navbar.bg-light .topbarlang ul {
  transform: translateY(-40px);
  transition: all 1s;
}


@media (max-width:600px) {
  li.nav-item {
    margin: 0 !important;
  }
}


.logo-footer{
  width: 35%;
  text-align: center;
}
.min-height-bg600, .min-height-bg500, .min-height-bg400, .min-height-bg300, .min-height-bg200, .min-height-bg100, .min-height-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
  }
  .min-height-bg600{ min-height: 600px; }
  .min-height-bg500{ min-height: 500px; }
  .min-height-bg400{ min-height: 400px; }
  .min-height-bg300{ min-height: 300px; }
  .min-height-bg200{ min-height: 200px; }
  .min-height-bg100{ min-height: 100px; }

  .legales-formulario{
    font-weight: 100;
    font-size: 9pt;
    line-height: 12pt;
}
  .logo-MCB-Spa{
      max-width: 300px;
  }


/** Bootstrap 5 column equal grid
 ******************************** **/
 .col-xs-5th,
 .col-sm-5th,
 .col-md-5th,
 .col-lg-5th {
     position: relative;
     min-height: 1px;
     padding-right: 10px;
     padding-left: 10px;
     width: 20%;
     float: left;
 }
 
 @media (min-width: 768px) {
     .col-sm-5th {
         width: 20%;
         float: left;
     }
 }
 @media (min-width: 992px) {
     .col-md-5th {
         width: 20%;
         float: left;
     }
 }
 @media (min-width: 1200px) {
     .col-lg-5th {
         width: 20%;
         float: left;
     }
 }

 /***PLECA***/
 .pleca {
	position: absolute;
	background:var(--colMain);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	display: flex;
}
header .pleca {
   height: 4px;
}
 /***-PLECA-***/

 .logo-MCB-Spa{
  max-width: 300px;
}
.contact{
color: #fff;

  }
.contact h2{
    color: #fff;
      }
      .contact p{
        color: #fff;
          }
.contact a{
        color: #fff;
          }

.bgfooter{
  background: var(--colCorpG);
}
.powered{
  padding-bottom: 15px;
  display: inline-block;
}
.footerb {
  background: #8cb7e8;
  color: #0f1d41;
  font-size: 9pt;
}
.footerb a{
  color: #0f1d41;
}
.footermodal{
  background: var(--colG);
  text-align: center;
}

.footermodal ul li{
  display: inline;
  color: #444;
  font-size: 10pt;
  text-align: center;
}
.footermodal ul li a{
  color: #444;
  font-size: 1.1em;
}

/*contactanos*/
.bgcontacto{
  background: var(--colMain);
}

.logoLosCabos{margin-top: -40px; }
.logomenu{width: 30px;}
.patrocinador-menu img{width: 50px;} 

.logo-fic {width: 250px; padding: 20px 0;}
.descubre{line-height: 1.4em; margin-top: 50px;}
.descubretxt1{font-size: 20pt; color: var(--colMain);}
.descubretxt2{font-size: 22pt; text-transform: uppercase; color:var(--colMain); font-family: 'Barlow', sans-serif; font-weight: 600;}
.descubretxt3{font-size: 28pt; text-transform: uppercase; color:var(--colMain); font-family: 'Barlow', sans-serif; font-weight: 600;}
.logo-loscabos{width: 80px; margin-left: 10px; margin-top: -10px;} 
.news-tit {font-size: 12pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 800;}
.news-txt {font-size: 10pt; font-family: 'Barlow', sans-serif; font-weight: 300;}
.news-link {font-size: 9pt; font-family: 'Barlow', sans-serif; font-weight: 600;}
.newsmas-tit {font-size: 20pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 200; text-transform: uppercase;}
.newsmas-txt {font-size: 10pt; font-family: 'Barlow', sans-serif; font-weight: 600;}

.pik{border: 1px solid #e5d8ac;}
.infoindustria {padding-top: 30px;}
.infoindustria p {text-align: center; }
.btnindustria{padding-top: 30px;}
.btnpik-industria img{border-radius: 50%; }
.btnpik-industria h5{text-transform:uppercase; text-align: center;}

.labajainspira {background: #fff;}
.labajainspira-box {padding: 20px 0;}
.labajainspira-tit {background: #e5d8ac;  padding: 5px 0;}
.labajainspira-tit p {font-size: 20pt; text-transform: uppercase;}
.labajainspira-info { padding-top: 30px;}
.labajainspira-info p {font-size: 14pt; text-align: center;}
.labajainspira-info h3 {text-align: center; font-style: italic;}

.ediciones {margin-bottom: 20px;}
.ediciones p {text-align: center; text-transform: uppercase;}
.ediciones-popup p {font-size: 10pt; text-align: justify;}
.ediciones-popup h5{text-align: right; float: right;}
.pik-ediciones {padding-top: 20px;}
.btn-catalogo p{text-align: center; padding: 30px; background:#e1e1e1;}
.catalogo-piks img{padding: 10px 0;}

.descubre-box {padding-top: 30px;}
.redesfic a {color: var(--colMain);}
.page-item{padding: 10px; }
.pagination li a{background-color: #fff; color: #172E4D; border: 1px solid #172E4D;}
.page-item.active .page-link{background: #172E4D;}
.sus-space{padding: 3px 0;}
.btn-ico {background: #172E4D; }
.ico-fic{padding: 20px; width: 150px;}
.linkfooter a{color: var(--colW); padding: 20px; text-align: center;}
.bg01{background-image: url(../images/bg/bg01.jpg);}
.bg02{background-image: url(../images/bg/bg02.jpg); background-repeat : no-repeat; }

.festival{padding-bottom: 20px; padding-top: 50px;}
.festival img {width: 70%;}

.bandera{width: 60%; padding: 30px 0;}

.logo-loshyatt{width: 120px; padding-left: 10px; margin-top: -10px;}
.logo-att{width: 120px; padding-left: 15px; margin-top: -10px;}
.logo-corona{width: 100px; margin-left: 10px; margin-top: -20px;} 
.logo-cocacola{width: 110px; margin-left: 10px; margin-top: -10px;} 
.logo-netflix{width: 110px; margin-left: 10px; margin-top: -20px;} 
.logo-mastercard{width: 110px; margin-left: 10px;} 
.logo-bmw{width: 40px; margin-left: 10px; margin-top: -8px;} 
.logo-bluepureloyalty {width: 260px; margin-left: 10px; margin-top: -6px;}
.logo-moet{width: 140px; margin-left: 10px; margin-top: -16px;}
.logo-viaje{width: 280px; padding-left: 10px;}
.logo-aeromexico{width: 170px; padding-left: 10px;}
.logo-delta{width: 130px; padding-left: 10px;}
.logo-division{height: 20px; padding-left: 10px; margin-top: 5px;}
.logo-questro{height: 40px; padding-left: 10px; margin-top: -5px;}
.logo-patron{width: 90px; margin-top: -10px; padding-left: 10px;}
.logo-samsung{width: 130px; margin-top: -10px; padding-left: 10px;}

.logo-fondofilmico img{height: 70px; margin: 20px;}

.card-loyalty {width: 350px;} 

.app-qr{width: 200px;}
.app-tiendas{width: 120px;}
.appbullets ul li{font-size: 16pt;} 

.team-titulo {color: var(--colSec); border-bottom: 1px solid var(--colMain);}
.team1 {width: 380px;}
.team1 img {border-radius: 50%; width: 200px;}
.team-position {font-weight: 200; font-size: 11pt;}
.team-name{font-weight: 600; font-size: 13pt;  }

.aliados {margin-top: 80px;}
.aliados-titulo {color: var(--colSec); border-bottom: 1px solid var(--colMain);}
.aliados-presentadores img {height: 200px; padding: 0px 10px 0px 10px;}
.aliados-principales img {height: 185px; padding: 0px 10px 0px 10px;}
.aliados-industria img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-especiales img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-eventos img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-hoteles img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-restaurantes img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-institucionales img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-medios img {height: 120px; padding: 0px 20px 0px 20px;}
.aliados-vocerosculturales img {height: 120px; padding: 0px 20px 0px 20px;}


.text-medio{position:relative;}
.text-medio div{position:absolute; vertical-align: middle; top:50%; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}

.modal-content{width: 100%;}

.mail{padding: 20px;}
.mail a{color: var(--colMain); font-size: 14pt; padding: 20px;}

.loscabos-mas{border-radius: 10px;  }/*1px solid var(--colMain);*/ 
.loscabos-winner{color: var(--colSec); font-weight: 400;} 
.concurso {background: var(--colSec); border-radius: 10px; color: #fff}
.concurso p {color: #fff; padding: 10px; text-align: left;}
.concurso-name {font-size: 11pt; text-align: left;}

.celebridades {width: 200px; margin: 10px;}
.celebridades img {border-radius: 50%; width: 200px;}
.celebridades-titulo {color: var(--colSec);letter-spacing: 5px; } /*border: 1px solid #949598; padding: 10px; background: #e1e1e1; */
.celebridades-name{font-weight: 600; font-size: 13pt;}
.celebridades-position {font-weight: 200; font-size: 11pt;}


.logo-ffgf{width: 150px; padding: 20px 0;}
.proyectosdestacados h3 span{text-align: left; font-weight: 700; }
.proyectosdestacados p {text-align: left; font-size: 13pt;}
.proyectosdestacados span {color: var(--colMain); text-transform: uppercase;font-weight: 300;}
.proyectosdestacados div {padding-top: 30px;}

.jurado p{text-align: left;}
.jurado h3{text-align: left; font-weight: 600;}
.jurado-edicion{color: #666;} 


.paneles{margin-top: 50px;}
.paneles-info {margin-top: 30px;}
.paneles h3 {font-weight: 300; margin-bottom: 30px;}
.paneles-piks img{padding: 10px 0;}

.copys{font-size: 0.8em; color: #fff; padding: 20px 5px 10px 5px;}
.copys a{color: #fff;}


.competencia  p{text-align: left;}
.competencia h3 {text-align: left; color: var(--colSec); font-weight: 600;}
.competencia h2 {text-align: left; color: var(--colSec); font-weight: 600; border-top: 1px solid #949598;}

.competencia-premio {text-transform: uppercase;}
.competencia-pik {width: 70%;}

.loscabos-piks img{padding: 10px 0;}

.premios{margin-top: 30px;} 
.premios p {text-align: left; line-height: 13pt;}
.year {font-size: 16pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 300;}
.movie {font-size: 14pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 700; }
.movie-br2 {padding-bottom: 20px;}
.award {font-size: 12pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 300;}
.director {font-size: 12pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 300; }
.inter-lineado {line-height: 15pt}

.convocatoria2023 p{color: #2cc9df;}


.fa-map-marker{margin-right: 7px; margin-left: 3px;}
.btn-itinerante{background: #9ebce7;}
.btn-comunicado{background: #ffcc00;}
.btn-lbi-itinerante{background: #ffcc00; padding: 10px 0; margin-top: -1px;}
.btn-lbi-itinerante a{text-decoration: none; font-family: 'Barlow Condensed', sans-serif; font-weight: 700;}
.videoprincipal{background: #000;} 
.cartel{border: 1px solid #e1e1e1;}
.pik-director{width: 150px; align-self:center;}
.pikgris{filter: grayscale(1);}
.btn-lbi-itinerante-gris{background: #e1e1e1; padding: 10px 0; margin-top: -1px; text-transform: uppercase;}
.btn-lbi-itinerante-gris a{text-decoration: none; font-family: 'Barlow Condensed', sans-serif; font-weight: 700; color: #999;}
.logoLBI{padding: 20px;}
.logoLBI img{height: 70px; margin: 20px;}

.banner-info{background-color:rgba(255,255,255,0.6); padding: 10px; text-align: left; }
.banner-infoxs{background-color:rgba(255,255,255,0.6); padding: 10px; text-align: left;}

._btn-filmfw img{width: 400px;}

.titulo-convocatoria {font-size: 3em;font-weight: bold;
  font-family: 'Open Sans', sans-serif; color:var(--colMain);}
  .titulo-seleccion {font-size: 2em;font-weight: bold;
    font-family: 'Open Sans', sans-serif; color:var(--colMain); letter-spacing: 10px;}  
    .titulo-convocatoriaxs {font-size: 2.5em;font-weight: bold;
      font-family: 'Open Sans', sans-serif; color:var(--colMain);}
      .titulo-seleccionxs {font-size: 1.5em;font-weight: bold;
        font-family: 'Open Sans', sans-serif; color:var(--colMain); letter-spacing: 10px;} 


.vacio{margin-top: 50px;}
.vacio-xs{margin-top: 150px;}

.link-txt a{text-decoration: underline; }

.alinear-izquierda{
  float: left;
  }

  .box-text-banner{margin-top: 300px;}

/*forms*/
input.form-control, select.form-control, textarea.form-control{
  -webkit-appearance: none;
  border-radius: 0;
  border:none;
  border: 2px solid #E4D8AD;
}
/*boletos*/
.logo-cinemex{width: 150px; margin-top: -10px; margin-left: 10px;}  
.boletobox{
  background: #fff;
  border: 1px solid #E4D8AD;
}


.select-dropdown {
  position: relative;
  background-color: #1a282d;
  width: auto;
  max-width: 100%;
  width: 100%;
  
}
.select-dropdown select {
  font-size: 1.1rem;
  font-weight: 200;
  max-width: 100%;
  width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

.text-blanco{color: #fff;}
.text-beige{color: #E4D8AD;}
.text-shadow {color: #426b72; }

.select-dropdown.select-blanco select{ color: #ffffff; }
.select-dropdown.select-beige select{ color: #E4D8AD; }

.select-sm select {font-size:1rem;}
.select-md select {font-size:1.4rem;}
.select-lg select {font-size:1.8rem;}
.select-xl select {font-size:2rem;}
.select-xl select option{font-size:1rem;}

.bg-blue { background-color: #172E4D; }
.bg-dark { background-color: #0F1F26; }


.inputnumeric input{
  background: #e1e6e7;
  color:#013943;
  font-weight:bold;
  border: none;
  text-align: center;
}
.inputnumeric input:focus{outline:none; }
.inputnumeric input[type=number]::-webkit-inner-spin-button,
.inputnumeric input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.inputnumeric input[type=number]{
  -moz-appearance: textfield;
}
.inputnumeric .minus, .inputnumeric .plus{
  background: #172e4d;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

/*paquete de viaje*/
.paquetebox{
  background: #fff;
  border: 1px solid #E4D8AD;
}
.paquetebox .leftinfo{
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  border: none;
  padding: 3px 6px;
  font-size: 1.4rem;
  width: 100%;
  max-width: 120px;
  margin: 5px auto;
}



footer a{
  color: var(--colMain);
    
}
footer a:hover{
  text-decoration: none;
  color: var(--colMain);
}
footer .socials a{
  font-size: 30px;
  color: var(--colMain);
}
footer .socials a:hover{
  color: var(--colSec);
}

.socials{
  margin-top: -150px;

}



/* MODIFICACIONES ALBIN */

.nav-aliado{
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 80px !important;
}
.nav-aliado img{
  width: 90%;
}

#topNav .navbar-nav, #mainNav .navbar-nav{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}


#topNav .navbar-nav .nav-item, #mainNav .navbar-nav .nav-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

button.navbar-toggler{
  margin: 0;
}



@media (max-width:992px){
  #topNav .navbar-nav, #mainNav .navbar-nav{
    grid-template-columns: repeat(6, 1fr);
  }
  #topNav .navbar-nav .nav-item, #mainNav .navbar-nav .nav-item{
    margin: 30px 0 ;
  }
}



@media (max-width:768px){
  #topNav .navbar-nav, #mainNav .navbar-nav{
    grid-template-columns: repeat(4, 1fr);
  }
  #topNav .navbar-nav .nav-item, #mainNav .navbar-nav .nav-item{
    margin: 30px 0 ;
  }
  .topbarlang{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

#mainNav{
  flex-direction: column;
}


@media (max-width:576px){
  #topNav .navbar-nav, #mainNav .navbar-nav{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: scroll;
  }
  #topNav .navbar-nav .nav-item, #mainNav .navbar-nav .nav-item{
    margin: 10px 0 !important;
  }
}


.navbar.fixed-top{
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

/*video*/
.video-js{
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


/*popupiniciodepag*/
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}
/*/popupiniciodepag*/

/*la baja inspira itinerante*/
.BajaItinerante h1{
  font-family: 'Barlow', sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: var(--colMain);
  font-weight: 700;
font-size: 50pt;
margin-top: 30px;
}

.movie span{
  font-family: 'Barlow', sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: var(--colMain);
  font-weight: 700;
font-size: 40pt;

}

.cartel-itinerante img{margin-top: 20px;} 

.itinerante-movie {font-size: 25pt; font-family: 'Barlow Condensed', sans-serif; font-weight: 700; }
.itinerante-datos p {font-size: 14pt; font-family: 'Barlow Condensed', sans-serif; text-align: justify;}
.itinerante-funcion{background-color: #fafafa; }
/*/la baja inspira itinerante*/

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}