<section class="splide homebanner" aria-label="Banner del HOME">
    <div class="splide__track">
          <ul class="splide__list">
              <li class="splide__slide" style="background-image:url(app/img/banners/LBII2024.png);" onclick="window.location.href = 'labajainspiraitinerante.html'"></li>
              <li class="splide__slide" style="background-image:url(app/img/banners/SpikeLee.jpg);" onclick="window.location.href = 'NoticiasInicial?i=cG9zdDozODE=&p=0&t=spike-lee-prepara-remake-de-cielo-e-infierno-de-akira-kurosawa'"></li>
              <li class="splide__slide" style="background-image:url(app/img/banners/PosterCanes2024.jpg);" onclick="window.location.href = 'NoticiasInicial?i=cG9zdDozOTA=&p=0&t=una-escena-de-rapsodia-en-agosto-de-akira-kurosawa-es-la-protagonista-del-poster-de-cannes-2024'"></li>
          </ul>
    </div>
  </section>
