<section class="splide homebanner" aria-label="Banner del HOME">
    <div class="splide__track">
        <ul class="splide__list">
            <!-- Banner 1 -->
            <li class="splide__slide">
                <div class="splide__slide w-100 h-100"
                    style="background-image:url(app/img/banners/Banner.webp)"
                    data-en="background-image:url(app/img/banners/Banner.webp)" 
                    data-lang-attr="style"
                    onclick="window.open((currentLanguage=='es' ? 'https://ficloscabos.org/convocatoria.html' : 'https://loscabosiff.org/convocatoria.html'), '_blank')"
                    >
                </div>
            </li>
            <!-- Banner 2 -->
            <li class="splide__slide">
                <div class="splide__slide w-100 h-100"
                    style="background-image:url(app/img/banners/cartel_esp.jpg)"
                    data-en="background-image:url(app/img/banners/cartel_eng.jpg)" 
                    data-lang-attr="style"
                    onclick="window.open((currentLanguage=='es' ? 'https://ficloscabos.org/NoticiasInicial?i=cG9zdDo0MzU=&p=0&t=nos-vemos-del-4-al-8-de-diciembre-para-celebrar-el-festival-internacional-de-cine-de-los-cabos-encuentros-de-cine#es' : 'https://loscabosiff.org/NoticiasInicial?i=cG9zdDo0MzU=&p=0&t=nos-vemos-del-4-al-8-de-diciembre-para-celebrar-el-festival-internacional-de-cine-de-los-cabos-encuentros-de-cine#en'), '_blank')"
                    >
                </div>
            </li>
            <!-- Banner 3 -->
            <li class="splide__slide">
                <div class="splide__slide w-100 h-100"
                    style="background-image:url(app/img/banners/guiadelocaciones.jpg)"
                    data-en="background-image:url(app/img/banners/Locationguide.jpg)" 
                    data-lang-attr="style"
                    onclick="window.open('https://issuu.com/adogmx/docs/locationguide_bcs_web', '_blank')"
                    >
                </div>
            </li>


        </ul>
    </div>

    <!-- autoplay -->
    <div class="carousel_playpause">
        <button class="splide__toggle" type="button">
            <span class="splide__toggle__play"><i class="fa-solid fa-play"></i></span>
            <span class="splide__toggle__pause"><i class="fa-solid fa-pause"></i></span>
            <div class="splide__progress">
                <div class="splide__progress__bar"></div>
            </div>
        </button>
    </div>


</section>



<style>
    /* autoplay */
    .homebanner {
        position: relative;
        aspect-ratio: 32/17;
    }

    .carousel_playpause {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 99;
    }

    .splide__progress {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .splide__progress__bar {
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
    }

    .splide__toggle {
        position: relative;
        aspect-ratio: 1/1;
        width: 32px;
        height: 32px;
        border: none;
        background: rgba(200, 200, 200, 0.3);
        color: var(--colMain);
    }

    .splide__toggle:hover {
        color: rgba(200, 200, 200, 0.5);
        background: var(--colMain);
    }

    @media (max-width:600px) {
        .carousel_playpause {
            transform: scale(0.7);
        }
    }
</style>