<importer src="components/avisodeprivacidad.html"></importer>
<footer class="mainFooter">
    <div class="mfLogo">
        <img src="app/img/logo-icono.svg" alt="FIC Los Cabos" class="img-fluid">
    </div>
    <div class="mfMail"><a href="mailto:info@ficloscabos.org">info@ficloscabos.org</a></div>
    <div class="mfRights" data-en="ALL RIGHTS RESERVED<br><b>FESTIVALES CULTURALES S.A. DE C.V.</b> 2024">
        TODOS LOS DERECHOS RESERVADOS
        <br>
        <strong data-en="FESTIVALES CULTURALES S.A. DE C.V.">FESTIVALES CULTURALES S.A. DE C.V.</strong> 2024
    </div>
</footer>