
<nav class="topnavigation">
    <div class="topnavigation-menu">
        <div><a class="nav-lbii" href="labajainspiraitinerante.html">LA BAJA INSPIRA ITINERANTE</a></div>
        <div><a class="nav-locaciones" href="https://issuu.com/adogmx/docs/locationguide_bcs_web" data-en="LOCATION GUIDE" target="_blank">GUÍA DE LOCACIONES</a></div>
        <div><a class="nav-convocatoria" href="convocatoria.html" data-en="CALL FOR ENTRIES">CONVOCATORIA</a></div>
    </div>
    <div class="topnavigation-languages">
        <a class="nav-lang nav-lang-es" href="#es">ESPAÑOL</a>
        <a class="nav-lang nav-lang-en" href="#en">ENGLISH</a>
    </div>
</nav>





<nav class="navbar navbar-expand-lg navbar-dark mainnavigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="app/img/logo_header.svg" data-lang-src="app/img/logo_headerUS.svg" alt="FIC Los Cabos" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigationNav" aria-controls="mainNavigationNav" aria-expanded="false" aria-label="Ver navegación">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigationNav">
        <ul class="navbar-nav text-center">
 <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              EL FESTIVAL
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="index.html">EL FESTIVAL 2024</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="ediciones.html">EDICIONES ANTERIORES</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="homenajes.html">HOMENAJES E INVITADOS
                ESPECIALES</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="loscabosmas.html">LOS CABOS+</a></li>
            </ul>
          </li>
 <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-en="ABOUT US">
              ¿QUIÉNES SOMOS?
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="misionvision.html">MISIÓN, VISIÓN</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="directorio.html">DIRECTORIO</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="loscabos.html">DESCUBRE LOS CABOS</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="loscabosmas.html">ALIADOS</a></li>
            </ul>
          </li>
<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-en="INDUSTRY">
              INDUSTRIA
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="fondofilmico.html">FONDO FÍLMICO GABRIEL FIGUEROA</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="meetmart.html">MEET-MART</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="paneles.html">PANELES</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-en="SÚMATE A NUESTRO EQUIPO">
              SÚMATE A NUESTRO EQUIPO
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">VACANTES</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">VOLUNTARIOS</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-en="PRENSA">
              PRENSA
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="prensa.html">PRENSA</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">NOTICIAS</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="faqs.html" data-en="FAQ'S">FAQ'S</a></li>
        </ul>
      </div>
    </div>
  </nav>