
<nav class="topnavigation">
    <div class="topnavigation-menu">
        <div><a class="nav-comunicado" href="ComunicadoFestivalInternacionaldeCinedeLosCabos2023.pdf">COMUNICADO 2023</a></div>
        <div><a class="nav-lbii" href="labajainspiraitinerante.html">LA BAJA INSPIRA ITINERANTE</a></div>
        <div><a href="ediciones.html">EDICIONES</a></div>
        <div><a href="jurado.html">JURADO</a></div>
        <div><a href="loscabosmas.html">LOS CABOS+</a></div>
        <div><a href="celebridades.html">CELEBRIDADES</a></div>
        <div><a href="industria.html">INDUSTRIA</a></div>
        <div><a href="quienessomos.html">¿QUIÉNES SOMOS?</a></div>
        <div><a href="prensa.html">PRENSA</a></div>
    </div>
    <div class="topnavigation-languages">
        <a class="nav-lang" href="#es">ESPAÑOL</a>
        <a class="nav-lang" href="#en">ENGLISH</a>
    </div>
</nav>





<nav class="navbar navbar-expand-lg navbar-dark mainnavigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="app/img/logo_header.svg" alt="FIC Los Cabos" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigationNav" aria-controls="mainNavigationNav" aria-expanded="false" aria-label="Ver navegación">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigationNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="/">DESCUBRE</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="competencialoscabos.html">COMPETENCIA <br>LOS CABOS</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="labajainspira.html">LA BAJA<br>INSPIRA</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="fondofilmico.html">FONDO FÍLMICO<br>GABRIEL FIGUEROA</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="meetmart.html">MEET-MART</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="paneles.html">PANELES</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="noticias.html">NOTICIAS</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="loscabos.html">LOS CABOS</a></li>
        </ul>
      </div>
    </div>
  </nav>